<section class="main-banner">
    <div class="wrapper d-flex">
        <div class="content-wrapper position-relative">
            <div class="document-card">
                <div class="px-4 py-3">
                    <div class=" text-end">
                        <div class="close-btn" (click)="goBack()"><i class="fa-solid fa-xmark cursor"
                                style="font-size: 24px;"></i></div>
                    </div>
                    <h1 class="text-center mb-2"><b>Message</b></h1>

                    <!-- Recipient Section -->
                    <div class="d-flex align-items-center row recipient-section mb-2">
                        <div class="col-md-6 d-flex align-items-center">
                            <img *ngIf="messageReceiverData.profilePicturePath; else defaultIcon"
                                [src]="messageReceiverData.profilePicturePath" alt="User Image" />
                            <ng-template #defaultIcon>
                                <div class="default-user-icon" style="padding: 13px 6px 13px  !important;">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40"
                                        fill="#555">

                                        <circle cx="12" cy="8" r="4" />

                                        <path d="M4 20c0-4 4-6 8-6s8 2 8 6v1H4v-1z" />
                                    </svg>
                                </div>
                            </ng-template>
                            <p class="mb-0 "><b>To:</b> {{messageReceiverData.fullName}}</p>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-end pt-3">
                        </div>
                    </div>

                    <!-- Message History Section -->
                    <div #messageContainer class="custom-scroll">
                        <div   *ngIf="messageList && messageList.length > 0; else noMessages">
                            <div *ngFor="let item of messageList">
                                <p class="w-100 d-flex justify-content-center" style="font-size: 16px; color: #000000;">
                                    {{ item.date | date:'MMMM d, y' }}
                                </p>
                                <div class="message-history">
                                    <div class="mt-2">
                                        <div class="chat-message" *ngFor="let message of item.messageList; let i = index"
                                            [ngClass]="{'align-right': message.senderId === userId, 'align-left': message.senderId !== userId}">
    
                                            <img *ngIf="message.profilePicturePath; else defaultIcon"
                                                style="border: 1px solid grey;" [src]="message.profilePicturePath"
                                                alt="User Image" />
    
                                            <ng-template #defaultIcon>
                                                <div class="default-user-icon" style="padding: 13px 6px 13px !important;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40"
                                                        height="40" fill="#555">
                                                        <circle cx="12" cy="8" r="4" />
                                                        <path d="M4 20c0-4 4-6 8-6s8 2 8 6v1H4v-1z" />
                                                    </svg>
                                                </div>
                                            </ng-template>
    
                                            <div>
                                                <div class="message-header"
                                                    *ngIf="i === 0 || message.senderName !== item.messageList[i - 1].senderName">
                                                    {{message.senderName}}<span class="message-time">{{
                                                        formatTime(message.time) }}</span>
                                                </div>
                                                <div class="chat-bubble"
                                                    [ngClass]="{'last-message': i === item.messageList.length - 1}">
                                                    <span *ngIf="message.messageContent; else showFileName">
                                                        {{ message?.messageContent }}
                                                    </span>
                                                    <div class="p-0" *ngIf="message.voiceMessagePath">
                                                        <audio controls>
                                                            <source [src]="message.voiceMessagePath" type="audio/webm">
                                                            Your browser does not support the audio element.
                                                        </audio>
                                                    </div>
                                                    <!-- Check for Audio Message -->
                                                    <ng-template #showFileName>
                                                        <a style="color: blue;" class="cursor"
                                                            (click)="downloadFile(message.filePath)">
                                                            <u>{{ message.fileName }}</u>
                                                        </a>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ng-template #noMessages>
                        <p class="w-100 d-flex justify-content-center mt-4" style="font-size: 16px; color: #888888;">
                            There is no chat
                        </p>
                    </ng-template>
                    <!-- Message Body Section -->
                    <div class="px-3" style="position: absolute; bottom:0; left:0; right:0;">
                        <div class="message-input d-flex align-items-center mt-4 p-2 px-2">
                            <!-- Conditionally show input or file display -->
                            <ng-container *ngIf="!selectedFile || selectedFile.length === 0; else fileDisplay">
                                <!-- Text input field -->
                                <textarea class="form-control message-box" placeholder="Write your message..."
                                    [(ngModel)]="message" (input)="capitalizeFirstLetter()"></textarea>
                            </ng-container>

                            <ng-template #fileDisplay>
                                <div class="d-flex align-items-center" style="width: 100% !important;">
                                    <span class="badge bg-light text-dark p-2 me-2">{{ selectedFile[0]?.name }}</span>
                                    <i class="fas fa-trash text-danger cursor" (click)="removeFile()"></i>
                                </div>
                            </ng-template>
                            <!-- <ng-template *ngIf="!audioFile">
                                <div class="audio-recording"><app-audio-recording
                                        (audioRecorded)="handleAudioRecorded($event)"></app-audio-recording></div>
                            </ng-template> -->

                            <!-- Always show Send Message button -->
                            <div class="message-icons d-flex align-items-center ms-2">
                                <div class="audio-recording"><app-audio-recording
                                        (audioRecorded)="handleAudioRecorded($event)"></app-audio-recording></div>
                                <button class="btn btn-light px-2 py-1 rounded-circle ms-2" (click)="sendMessage()"
                                 >
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>

                        <div class="navbar-custom p-3">
                            <div class="brand">
                                <i style="color: #00876f;" class="fa-solid fa-arrow-right-arrow-left"></i> Chalice
                                Health
                            </div>
                            <div class="maal position-relative end-0">
                              <div class="maal1">
                                    <div class="icon-group d-flex">
                                        <!-- <i class="fas fa-user-plus"(click)="slectProvider()"></i>  -->
                                        <i class="fa fa-plus-circle" style="cursor: pointer; font-size: 1.5em;"
                                            title="Upload" (click)="toggleAttachOptions()"></i>
                                        <i class="fa fa-comment-alt" style="cursor: pointer; font-size: 1.5em;"
                                            title="Saved Message" (click)="showSaveMessage()"></i>
                                    </div>
                                    <!-- Save Message Screen -->
                                    <div *ngIf="isMessageVisible" class="save-message"
                                        style="position: absolute; bottom:95px!important; right: -20px; width: 400px; border-radius: 10px; padding: 5px; ">
                                        <div class="container" style="background-color: #f9fafc;">
                                            <div class="w-100">
                                                <i class="fa fa-times float-end"
                                                    style="cursor: pointer; font-size: 1.2em;"
                                                    (click)="closeSaveMessage()"></i>
                                            </div>
                                            <div class="header"
                                                style="display: flex; justify-content: space-between; align-items: center;">
                                                <h2 class="fs-5">Saved Messages</h2>
                                            </div>

                                            <div class="description">
                                                <p>
                                                    <span class="highlight">Save time</span> and streamline your
                                                    workflow by
                                                    accessing your
                                                    <strong>frequently used messages</strong> directly from here.
                                                    Keep your communication consistent and efficient!
                                                </p>
                                            </div>
                                            <div class="create-message">
                                                <button (click)="toggleInputBox()">Create a Saved Message</button>
                                            </div>
                                            <!-- Dynamic Input Box -->
                                            <div *ngIf="isInputBoxVisible" class="dynamic-input pb-2"
                                                style="margin-top: 10px;">
                                                <div class="input-container"
                                                    style="position: relative; display: flex; align-items: center;">
                                                    <input class="input-with-icon w-100" type="text"
                                                        placeholder="Enter your message" [(ngModel)]="defaultMessage"
                                                        style="padding: 10px 40px 10px 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%;" />
                                                    <i class="fa fa-paper-plane submit-icon"
                                                        [class.disabled]="!defaultMessage.trim()"
                                                        [style.pointerEvents]="!defaultMessage.trim() ? 'none' : 'auto'"
                                                        style="position: absolute; right: 10px; cursor: pointer; font-size: 1.2em; color:#00876f;"
                                                        (click)="submitMessage()"></i>
                                                </div>
                                            </div>

                                            <div class="messages messages-container rounded-4 pb-2">
                                                <h3 class="messages-header px-3 pt-2 pb-0 fs-6">Saved Messages</h3>

                                                <div *ngFor="let message of savedMessages; let i = index"
                                                    class="message-item" [class.active]="activeIndex === i"
                                                    (click)="toggleActive(i,message)">
                                                    <!-- <div class="message-title">{{ message.messages }}</div> -->
                                                    <div class="message-text">{{ message.messages }}</div>
                                                </div>
                                            </div>

                                            <div class="submit d-flex justify-content-end mt-2">
                                                <button (click)="activateAutoReply()">Submit</button>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                                <div id="attachOptions" class="attach-options" *ngIf="showAttachOptions"
                                    style="position: absolute; bottom: 30px!important; right: 70px; width: 252px; height: 98px; background: #fff; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); padding: 5px;">
                                    <h5 class="text-center mb-3 " style="font-weight: 500;">Upload File</h5>
                                    <div class="d-flex flex-wrap justify-content-around gap-3">
                                        <!-- Photo -->
                                        <div class="text-center">
                                            <i class="fa fa-image fa-2x" style="cursor: pointer;"
                                                (click)="selectPhoto()"></i>
                                            <p>Photo</p>
                                            <!-- Hidden file input for selecting a photo -->
                                            <input type="file" id="photoInput"
                                                (change)="onFileSelected($event, 'photo')" style="display: none;"
                                                accept="image/*" />
                                        </div>
                                        <!-- Video -->
                                        <div class="text-center">
                                            <i class="fa fa-video fa-2x" style="cursor: pointer;"
                                                (click)="selectVideo()"></i>
                                            <p>Video</p>
                                            <!-- Hidden file input for selecting a video -->
                                            <input type="file" id="videoInput"
                                                (change)="onFileSelected($event, 'video')" style="display: none;"
                                                accept="video/*" />
                                        </div>

                                        <!-- File -->
                                        <div class="text-center">
                                            <i class="fa fa-file fa-2x" style="cursor: pointer;"
                                                (click)="selectDocument()"></i>
                                            <p>File</p>
                                            <!-- Hidden file input for selecting a document -->
                                            <input type="file" id="fileInput" (change)="onFileSelected($event, 'file')"
                                                style="display: none;" />
                                        </div>

                                        <!-- Audio -->
                                        <div class="text-center">
                                            <i class="fa fa-microphone fa-2x" style="cursor: pointer;"
                                                (click)="selectAudio()"></i>
                                            <p>Audio</p>
                                            <!-- Hidden file input for selecting an audio file -->
                                            <input type="file" id="audioInput"
                                                (change)="onFileSelected($event, 'audio')" style="display: none;"
                                                accept="audio/*" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- Display selected file name or preview -->
                    <div *ngIf="selectedFileName">
                        <h6>Selected File: {{ selectedFileName }}</h6>
                        <div *ngIf="filePreview" class="text-center">
                            <img *ngIf="isImage" [src]="filePreview" alt="Preview"
                                style="max-width: 200px; max-height: 200px;" />
                            <audio *ngIf="isAudio" [src]="filePreview" controls></audio>
                            <video *ngIf="isVideo" [src]="filePreview" controls style="max-width: 200px;"></video>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>