.content {
  display: flex;
  flex-direction: column;
   /* min-height: 100vh;   */
}
.navbar-nav .nav-link.active {
  background-color: white!important;
  color: #006b5f !important;  
  font-weight: bold;        
}
.minlogo{
 
 
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: bold;
  color:#00876f;
 
}
.navbar .logo {
font-family: 'Montserrat', sans-serif;
}
.main-content {
  flex: 1;
}
 
.footer {
  text-align: center;
  width: 100%;
}
.rounded-image {
  background-color: #84b5e6;
  border-radius: 50%;
  width: 25%;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}
.info{
  padding-left: 4%;
}
 
.bell-icon {
  color: #009cff;
  font-size: 25px;
  position: absolute;
  right: 70px;
  margin-left: 16px;
}
.custom-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 0.75em;
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-left: 8px;
}
.mail-icon {
  color: #009cff;
  font-size: 25px;
  position: absolute;
  right: 30px;
  margin-left: 30px;
}
 
 
div.fixed {
  position: fixed;
  bottom: 30px;
}
 
 
 
 
@media (min-width: 1500px) {
  .responsive-margin {
      margin-top: 42vh
  }
}
@media (min-width: 2800px) {
  .responsive-margin {
      margin-top: 60vh
  }
 
}
div.fixed {
  position: fixed;
  bottom: 30px;
}
html, body {
  height: 100%;
  margin: 0;
}
 
 
 
.main-content {
  flex-grow: 1;
 
}
 
.footer {
  padding: 10px 20px;
  width: 100%;
 
  position: fixed;
  bottom:0;
}
 
.lowerPart {
  margin-top: auto !important;
}
 
.nav-link.text-danger {
  color: rgb(12, 12, 12) !important;
}
.dropdown-menu {
  display: block !important;
}
 
 
.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out, opacity 0.1s ease-out;
  opacity: 0;
}
 
.submenu.show {
  max-height: 500px;
  opacity: 1;
}
 
.nav-item .nav-link.active {
  background-color: #f8f9fa;
 
}
 
.sidebar-toggler{
  margin-left: -2%;
}
.cursor{
  cursor: pointer;
  font-size: 16px !important;
}
.sidebar-toggler{
text-decoration: none;
}
 
.sidebar .navbar .navbar-nav .nav-link {
   padding: 10px 4px!important;
}
 
.sidebar .navbar .dropdown-toggle::after {
right: 10px!important;
 
}
 
.navbar a{
color:#FFFFFF!important;
font-weight: 400 !important;
}
 
.shadow-bottom {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.badge-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  font-size: 0.75rem;
  color: white;
  background-color: red;
  line-height: normal;
  font-weight : 500;
}
.badge-circle1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  font-size: 0.55rem;
  color: white;
  background-color: red;
  line-height: normal;
  font-weight : 500;
}
 
.content .navbar .navbar-nav .nav-link {
  margin-left: 0px!important;
 
}
 
 
 
 
 
.rotate-icon {
  display: inline-block;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

@media (max-width: 576px) {
  .sidebar{
    padding-top: 60px!important;
  }
  .nav-item h1{
    margin-bottom: 0px!important;
  }
  .okk{
   padding: 0px!important;
  }
  .type{
    padding-left: 50px;
  }
 }

 .branding-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.account-type {
  font-size: 16px;
  font-family: 'Montserrat';
  color: #fb8501;
  margin-top: 5px;
}

@media (max-width: 767.98px) {
  .branding-wrapper {
    align-items: center; /* Center the content on mobile */
  }

  .account-type {
    text-align: center;
    width: 100%;
  }
}
