.maincont {
  width: 100%;

}

.cont-fluid {
  padding: 20px;
  /* width: 95%;
  max-width: 1950px; */
  width:100%;
}

.filter-sidebar {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.selected-suggestion {
  background-color:#006952 !important;
  color: white !important;
  }
  
  .list-group-item:hover {
  background-color: #006952 !important;
  color: white !important;
  }
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  /* width: 40%; */
  margin-right: 10px;

}

.dropdown-toggle::after {
  margin-top: 10px;
}

.doctor-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 14px;
  background-color: #fff;
  width: 49%; 
  max-width: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 20px; 
}

.doctor-info {
  display: flex;
  gap: 20px; 
  align-items: center; 
}

.form-control{
  background-color: white!important;
}
.no-outline:focus {
  box-shadow: none!important;
}
input.form-control:focus,
textarea.form-control:focus {
  border-color:white;
  box-shadow: 0 0 5px white;
}

.doctor-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(128, 128, 128, 0.236);
}

.details {
  padding-left: 0; 
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

.doctor-name {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
}

.visit-type {
  color: black;
  /* font-size: 0.9em; */
  margin-top: 5px; 
}

.urgent-care {
  display: flex;
  align-items: center;
  color: black;
  font-size: 0.9em;
  margin-top: 5px; 
}

/* / Visit Details Section / */
.visit-details {
  /* text-align: right; */
  margin-top: 15px; 
}

.price {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.original-price {
  text-decoration: line-through;
  color: #888;
}

.discounted-price {
  color: #00876F;
  font-weight: bold;
  margin-left: 5px;
}

.subscription-info {
  font-size: 0.8em;
  color: gray;
}

.appointment-date {
  font-weight: bold;
  margin-bottom: 10px;
}

.appointment-times {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
}

.time-btn,
.more-times-btn {
  display: flex; /* Flex use karke content ko center mein rakhte hain */
  justify-content: center;
  align-items: center;
  background-color: #00876F;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 0.9em;
  width: 100%;
  max-width: 100%;
  padding: 10px 0;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 5px 0;
  box-sizing: border-box;
  word-wrap: break-word; 
  min-width: 110px;
}

.more-times-btn {
  background-color: #f3e5f5;
  color: black;
}

.more-times-btn:hover {
  background-color: #fbe3ffa4;
  color: black;
}

.time-btn:hover {
  background-color: #006952;
}

/* / Responsive Adjustments / */
@media (max-width: 1280px) {
  /* .doctor-card {
    width: 100%;
  } */
  .appointment-times {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
        }
 
}
@media (max-width: 1050px) {
  .doctor-card {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .details {
    gap: 3px; 
  }

  .time-btn,
  .more-times-btn {
    font-size: 0.8em;
    padding: 6px 8px;
  }
}
/* @media (min-width: 320px) and (max-width: 992px) {
  .time-btn,
  .more-times-btn {
    width: fit-content!important;
  }
} */

.gender button.active {
  background-color: #00876F !important;
  color: white !important;
}
.credential button.active {
  background-color: #00876F !important;
  color: white !important;
}
.speciality-container button.active {
  background-color: #00876F !important;
  color: white !important;
}
.gender button.active {
  background-color: #00876F !important;
  color: white !important;
}

.availability button.active {
  background-color: #00876F !important;
  color: white !important;
}

.availability button {
  background-color: transparent !important;
  color: black !important;
}

.gender   button {
  background-color: transparent !important;
  color: black !important;
}
.credential  button {
  background-color: transparent !important;
  color: black !important;
}
.speciality-container  button {
  background-color: transparent !important;
  color: black !important;
}

.details button:focus,
.details button:active {
  background-color: #00876F !important;
  color: white !important;
  outline: none;
}

.details button {
  background-color: transparent !important;
  color: black !important;
}

.visit button {
  background-color: transparent !important;
  color: black !important;
}

.visit button:focus,
.visit button:active {
  background-color: #00876F !important;
  color: white !important;
  outline: none;
}

.custom-dropdown {
  position: relative;
}

.fixed-dropdown {
  position: fixed;
  top: 100px;
  z-index: 1050;
  max-height: 100px;
  overflow-y: auto;
}

.custom-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-up {
  top: auto;
  bottom: 100%;
  margin-bottom: 10px;
}


.dropdown-menu {
  position: fixed;
  top: auto;
  bottom: 100%;
  margin-bottom: 10px;
  z-index: 1050;
  max-height: 200px;
  overflow-y: auto;

}

.badge {
  background-color: white !important;
  color: black;
  align-items: center;
  position: relative;
  line-height: 1.5;
  margin-bottom: 5px !important;
  font-size: 14px;
  font-weight: normal;
}

.remove {
  cursor: pointer;
  color: black;
  padding-left: 8px;
}

.credentials-container {
  display: flex;
  flex-wrap: wrap;
}
.specialities-container {
  display: flex;
  flex-wrap: wrap;
}



.cred-container {
  /* max-height: 200px; */
  overflow-y: auto; 
}

.more-options-panel::-webkit-scrollbar {
  width: 1px !important;
}


.selected-suggestion {
  background-color:#006952 !important;
  color: white !important;
  }
  
  .list-group-item:hover {
  background-color: #006952 !important;
  color: white !important;
  }

  .provider-card1 {
    border: 1px solid #059669; 
    border-radius: 10px;
    padding: 16px;
  
    align-items: center;
    position: relative;
    max-width: 99%;
    margin: 20px auto;
  }

  .provider-header h2 {
    color: #059669; 
    font-size: 20px;
    margin: 0;
    margin-right: 8px;
  }

  @media (max-width: 767px) {

    .custom-search-container {

      flex-direction: column !important;

      align-items: stretch !important;

      padding: 10px;

      border-radius: 10px;

    }

  .mobile{

    display: flex;

    width: 100%!important;

  }

  .mobile input{

    width: 100%!important;

  }

  .location{

  border-top:1px solid #aeaeae !important;

  border-left: 0px solid #aeaeae!important;

  border-radius:0px!important;

  }

  .rounded-circle{

    margin: auto;

  }

    .custom-search-container .input-group-text {

      border-left: 4px solid #00876f!important;

      border-radius: 8px 8px 0 0!important;

      width: 50px;

      font-size: 14px;

      margin-top: 8px;

      margin-right: 0%;

      padding-right: 0%;

      margin-bottom: 8px;

      position:static!important;

    }

    .arrow{

      width: 100%;

      text-align: center;

      margin-top: 0px!important;

      margin-bottom: 0px!important;

    }

    .arrow button{

      margin-top: 0px!important;

      margin-bottom: 0px!important;

    }

    .arrow .search-button{

      border-radius: 2px!important;

      width: 100%!important;

      display: flex;

      justify-content: center;

      align-items: center;

      gap: 2px;

    }

  .img-fluid{

    text-align: center;

  }

  .hero{

    width: 95%!important;

  }

  .mobile-full-img {

    max-width: 100% !important;

    height: auto !important;

  }

  .chalice-health-other .chalice-health-table th:first-child {

    text-align:center!important;  

  }

    .custom-search-container input.form-control {

      width: 100%;

      padding: 12px 6px;

      font-size: 16px;

      border-radius: 8px;

    }

  .form-control{

    width: 100%;

  }

    .custom-search-container .search-button {

      width: 35px;

      height: 45px;

      border-radius: 8px;

      box-shadow: rgba(0, 135, 111, 0.35) 0px 5px 21px;

      background-color: #00876f;

      color: white;

      font-size: 18px;

      font-weight: bold;

      margin: auto;

    }

    .suggestions-list {

      width: 100% !important;

    }

  }

  .form-control{

    background-color: transparent!important;

    border: none;

  }

  .location{

    border-left:2px solid #aeaeae;

  }
 
    @media (max-width: 678px) {
    .maincont{
      padding-left: 0px!important;
      padding-right: 0px!important;
    }
    .doctor-card{
      margin-left: 0px!important;
      padding-right: 0px!important;
      margin-top: 10px!important;
    }
    .work{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
 
  @media screen and (max-width: 576px) {
    .doctor-card {
      padding: 10px !important;
      flex-direction: column;
      width: 100%;
    }
 
    .doctor-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
 
    .doctor-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-bottom: 10px;
    }
 
    .details {
      width: 100%;
    }
 
    .doctor-name {
      font-size: 16px;
      margin-top: 5px;
    }
 
    .visit-type,
    .urgent-care,
    .visit-details {
      font-size: 14px;
      text-align: center;
    }
 
    .visit-details h2 {
      font-size: 16px;
    }
    .urgent-care{
      display: flex;
      justify-content: center;
    }
    .appointment-times {
      justify-content: center;
      gap: 10px;
    }
 
    .appointment-times .time-btn,
    .appointment-times .more-times-btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }


  .selected-suggestion {
    background-color: #f0f8ff;
    border-left: 4px solid #007bff;
 
  }
   
  .suggestions-list .list-group-item {
    border: 0px solid #e0e0e0;
    margin-bottom: 5px;
    padding: 30px auto;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 20px;
 
  }
   
  .suggestions-list .list-group-item:hover, .suggestions-list-location .list-group-item:hover {
    background-color: #f1f1f1;
  }
  .suggestions-list .list-group-item, .suggestions-list-location .list-group-item{
    border: 0px solid #e0e0e0;
    margin-bottom: 5px;
    padding: 10px 15px;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }
  .suggestions-list, .suggestions-list-location {
    max-height: 300px;
    overflow-y: auto;  
  }
  .suggestions-list-location {
    width: 100% !important;  
  }
  @media (min-width:992px) {
    .list-group{
      width: 58%!important;
    }
  }
  .list-group{
  z-index: 999;
  }
 
  @media (min-width:1280px) and (max-width:1462px) {

    .time-btn,
    .more-times-btn {
      width: 100%;
      max-width: 100%;
      min-width: 90px;
    }
  }



  