<section class="main-banner">
  <div class="wrapper d-flex">
    <div class="content-wrapper">
      <div class="signup-card">
        <div class="d-flex align-items-center position-relative">
          <h3 class="mx-auto">Message List</h3>

          <span class="icon-message me-3 cursor" title="Chat with Admin" style="color: #00a98d; font-size: 23px"
            (click)="getAdminIdByUser()"> <i class="fas fa-user-cog"></i> Customer Service</span>
        </div>
        <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onMessageChange($event)">
          <!-- Tab 1: Message List -->
          <mat-tab label="Messages">
            <div class="table-responsive" style="overflow-x: auto !important;">
              <div class= "row align-items-center mb-2">
                <!-- Buttons Section (Always on top in mobile, left on desktop) -->
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <div class="d-flex flex-wrap gap-2">
                    <button class="btn1 btn-sm cursor" [ngClass]="{'active': selectedStatus === 'All'}"
                      (click)="setActiveStatus('All')">All</button>

                    <button class="btn1 btn-sm cursor" [ngClass]="{'active': selectedStatus === 'true'}"
                      (click)="setActiveStatus('true')">Read</button>

                    <button class="btn1 btn-sm cursor" [ngClass]="{'active': selectedStatus === 'false'}"
                      (click)="setActiveStatus('false')">Unread</button>
                  </div>
                </div>

                <!-- Search Bar Section -->
                <div class="col-12 col-md-3">
                  <input type="text" [(ngModel)]="searchTerm" placeholder="Search By Sender Name"
                    (input)="getMessageList()" class="form-control" />
                </div>
              </div>

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Sender Name</th>
                    <th scope="col">Age</th>
                    <th style=" min-width: 150px!important;" scope="col">Date & Time</th>
                    <th scope="col">Address</th>
                    <th scope="col">Last Message</th>
                    <th scope="col">Chat</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of messagesList; let i = index">
                    <td>
                      <div style="display: flex; justify-content: center; padding: 8px 0;">
                        <div style="display: flex; align-items: center; max-width: 200px; width: 100%; gap: 8px;">

                          <!-- Profile Picture -->
                          <div style="width: 40px; height: 40px; flex-shrink: 0;">
                            <img *ngIf="item.profilePicturePath; else defaultIcon" [src]="item.profilePicturePath"
                              alt="Image"
                              style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%;" />
                            <ng-template #defaultIcon>
                              <div
                                style="width: 40px; height: 40px; border-radius: 50%; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="40px"
                                  width="20px">
                                  <path
                                    d="M96 128a128 128 0 1 0 256 0A128 128 0 1 0 96 128zm94.5 200.2l18.6 31L175.8 483.1l-36-146.9c-2-8.1-9.8-13.4-17.9-11.3C51.9 342.4 0 405.8 0 481.3c0 17 13.8 30.7 30.7 30.7l131.7 0c0 0 0 0 .1 0l5.5 0 112 0 5.5 0c0 0 0 0 .1 0l131.7 0c17 0 30.7-13.8 30.7-30.7c0-75.5-51.9-138.9-121.9-156.4c-8.1-2-15.9 3.3-17.9 11.3l-36 146.9L238.9 359.2l18.6-31c6.4-10.7-1.3-24.2-13.7-24.2L224 304l-19.7 0c-12.4 0-20.1 13.6-13.7 24.2z" />
                                </svg>
                                <!-- Optional SVG icon -->
                              </div>
                            </ng-template>
                          </div>

                          <!-- Name Text -->
                          <div style="display: flex; flex-direction: column; justify-content: center;">
                            <span *ngIf="item.accountType === 'IndependentProvider' || item.accountType === 'Admin'"
                              [ngStyle]="{
                              color: item.userId == 13 ? 'gray' : '#009cff',
                               cursor: item.userId == 13 ? 'default' : 'pointer'
                                }" [ngClass]="{ 'disabled-link': item.userId == 13 }"
                              (click)="item.userId !== 13 && viewProviderProfile(item.providerId, item.bookAppointmentId)">
                              <u>{{ item.fullName }}</u>
                            </span>

                            <span *ngIf="item.accountType === 'PrivatePractices' || item?.accountType == 'Facility'" [ngStyle]="{
                              color: item.userId == 13 ? 'gray' : '#009cff',
                              cursor: item.userId == 13 ? 'default' : 'pointer'
                               }" [ngClass]="{ 'disabled-link': item.userId == 13 }"
                              (click)="item.userId !== 13 && viewClinicProfile(item.clinicId)">
                              <u>{{ item.fullName }}</u>
                            </span>
                          </div>

                        </div>
                      </div>
                    </td>


                    <td class="pt-3">
                      {{ item.dob && item.dob !== '0001-01-01T00:00:00' ? calculateAge(item.dob) + ' Yrs' : '--------'
                      }}

                      <!-- {{ item.dob ? (item.dob | date: 'MM-dd-yyyy') : '--------' }} -->
                    </td>
                    <td class="pt-3">
                      {{item.createdDateUtc| date: 'MM-dd-yyyy'}}<br>

                      {{ ('1970-01-01T' + (item.time?.split('.')[0])) | date:'hh:mm a' }}
                    </td>
                    <td class="pt-3">{{ getStateAndCountry(item)|| '--------' }}</td>
                    <td class="pt-3">
                      <div class="message-container">
                        <span *ngIf="!item.expanded" class="short-message">
                          {{ item.messageContent }}
                        </span>
                        <span *ngIf="item.expanded">
                          {{ item.messageContent }}
                        </span>

                        <a *ngIf="shouldShowReadMore(item)" (click)="toggleReadMore(item)" class="read-more">
                          {{ item.expanded ? 'Read Less' : 'Read More' }}
                        </a>
                      </div>
                    </td>
                    <!-- <td class="pt-3">{{ item.messageContent || '--------' }}</td> -->

                    <td style="justify-items: center; cursor: pointer;">
                      <div class="d-flex align-items-center justify-content-end gap-3 position-relative">

                        <!-- View Chat icon with tooltip & badge -->
                        <span title="View Chat" data-bs-toggle="tooltip"
                          (click)="viewChat(item.userId, item.bookAppointmentId)"
                          style="cursor: pointer; position: relative;">
                          <i class="fas fa-comments" style="color: #00a98d; font-size: 20px;"></i>

                          <span *ngIf="item.unreadMessageCount > 0" class="badge bg-danger"
                            style="position: absolute; top: -8px; right: -10px; font-size: 10px;">
                            {{ item.unreadMessageCount }}
                          </span>
                        </span>

                        <!-- Report Message icon with tooltip -->
                        <span title="Report Message" (click)="viewMessageComplaint(item.patientId, item.providerId)"
                          style="cursor: pointer;">
                          <i class="fas fa-flag" style="color: #FF5733; font-size: 20px;"></i>
                        </span>

                      </div>
                    </td>



                  </tr>
                  <tr *ngIf="messagesList.length === 0">
                    <td colspan="9" class="no-data-card">
                      <div class="no-data-card-container">
                        <div *ngIf="loading" class="loader-container">
                          <div class="loader"></div>
                        </div>
                        <div class="no-data-icon">
                          <i class="fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="no-data-content">
                          <span class="no-data-title">No Messages Found</span>
                          <p class="no-data-description">
                            It looks like there are no messages at the moment. Please check back later!
                          </p>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="me-2 d-flex justify-content-end mt-2">
              <app-pagination [paginator]="paginator" (onPageChange)="getMessageList()" />
            </div>
          </mat-tab>

          <!-- Tab 2: Another Tab (You can customize as per your requirement) -->
          <mat-tab label="Group Messages">
            <div class="table-responsive" style="overflow-x: auto !important;">
 
 
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Group Name</th>
                    <th scope="col">Total Members</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Description</th>
                    <!-- <th scope="col">Last Message</th> -->
                    <th scope="col">Chat</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of groupList; let i = index">
                    <td class="pt-3">{{ item.groupName}}</td>
                    <td class="pt-3">{{ item.totalMember || '--------' }}</td>
                    <td class="pt-3">{{ item.createdDateUtc ? (item.createdDateUtc | date: 'MM-dd-yyyy') : '--------' }}
                    </td>
                    <td class="pt-3">{{ item.description || '--------' }}</td>
                    <td class="pt-3">
                      <span class="message-icon-container">
                        <i class="fas fa-comments cursor" (click)="viewGroupChat(item.providerGroupId,item.userId)"
                          title="View Chat"></i>
                        <span class="message-badge" *ngIf="item.unreadCount > 0">
                          {{ item.unreadCount }}
                        </span>
                      </span>
 
                    </td>
                  </tr>
 
                  <tr *ngIf="!isLoading && groupList && groupList?.length == 0">
                    <td colspan="9" class="no-data-card">
                      <div class="no-data-card-container">
                        <div class="no-data-icon">
                          <i class="fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="no-data-content">
                          <span class="no-data-title">No Group Messages Found</span>
                          <p class="no-data-description">
                            It looks like there are no group messages at the moment. Please check back later!
                          </p>
                        </div>
                      </div>
                    </td>
                  </tr>
 
                </tbody>
              </table>
            </div>
            <div class="me-2 d-flex justify-content-end mt-2">
              <app-pagination [paginator]="paginator" (onPageChange)="getGroupMessageList()" />
            </div>
 
          </mat-tab>
 
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>