<!-- <app-loader></app-loader> -->
<app-header></app-header>

<!-- hero start -->
<div class="heromain" [@fadeIn]>
  <div class="subhero">
    <div class="hero  container ">
      <div class="py-4">
        <div class="row ">
          <div class="col-lg-7">
            <h2 class="" style="font-size: 40px!important;">Find the best doctors near you</h2>
            <p class="text-dark mb-3 " style="line-height: 22px;">Get help from thousands of trusted experts near you
              for
              everything from medical
              treatments to psychiatric help.</p>

            <!-- Search Bar -->
            <div
              class="input-group mb-3 shadow-sm bg-white align-items-center position-relative custom-search-container">
              <div class="mobile d-flex" style="width: 60%;">
                <span class="input-group-text bg-white border-0" id="search-icon"
                  style="border-left:4px solid #00876f!important;border-radius: 0px !important;">
                  <i class="fas fa-search text-muted"></i>
                </span>

                <!-- Search input -->
                <input type="text" class="form-control border-0 py-3 no-outline"
                  placeholder="Search doctors, conditions, symptoms" aria-label="Search" aria-describedby="search-icon"
                  [(ngModel)]="searchTerm" (input)="onSpecialityChange1($event)" (keydown)="handleKeydown($event)">

                <!-- Speciality suggestions -->
                <ul *ngIf="suggestionsSpeciality1.length"
                  class="list-group position-absolute mt-5 bg-white shadow-sm suggestions-list">
                  <li *ngFor="let suggestion of suggestionsSpeciality1; let i = index" class="list-group-item text-dark"
                    [ngClass]="{ 'selected-suggestion': selectedIndex === i }"
                    style="cursor: pointer; padding: 10px 15px;" (click)="selectSpeciality(suggestion, i)">
                    {{ suggestion.name }}
                  </li>
                </ul>

              </div>


              <!-- Location input -->
              <div style="position: relative; flex: 1; min-width: 0;">
                <input type="text" class="form-control no-outline location"
                  style="border-left:2px solid #aeaeae; width: 100%;" placeholder="Location" aria-label="Location"
                  [(ngModel)]="location" (keydown)="handleKeydown1($event)" (input)="onAddressChange($event)">

                <!-- Address suggestions -->
                <ul *ngIf="suggestions.length"
                  class="list-group position-absolute w-100 mt-1 bg-white shadow-sm suggestions-list-location"
                  style="z-index: 999; line-height: 15px;">
                  <li *ngFor="let suggestion of suggestions; let i = index"
                    class="list-group-item text-dark suggestion-item"
                    [ngClass]="{ 'selected-suggestion': selectedIndex === i }"
                    (click)="selectSuggestion(suggestion, i)">
                    {{ suggestion.address }}
                  </li>
                </ul>

              </div>

              <!-- Search button -->
              <div class="arrow">
                <button class="btn m-0 d-flex rounded-circle me-1 mt-3 mb-3 search-button" style="padding: 10px;"
                  type="button" (click)="searchDoctor($event)">
                  <span class="d-inline d-md-none me-1">Search</span>
                  <i class="fas fa-arrow-right py-0"></i>
                </button>
              </div>
            </div>
            <!-- Suggested Keywords -->
            <div class="mb-3">
              <span class="badge bg-light text-success border me-2 mt-3 cursor"
                (click)="getDoctorList('Dental Infection')">DENTAL INFECTION</span>
              <span class="badge bg-light text-success border me-2 mt-3 cursor"
                (click)="getDoctorList('Ear Infection')">EAR INFECTION</span>
              <span class="badge bg-light text-success border me-2 mt-3 cursor"
                (click)="getDoctorList('Bronchiectasis')">BRONCHIECTASIS</span>
              <span class="badge bg-light text-success border me-2 mt-3 cursor"
                (click)="getDoctorList('Skin Allergies')">SKIN ALLERGIES</span>
              <span class="badge bg-light text-success border me-2 mt-3 cursor"
                (click)="getDoctorList('Depression')">DEPRESSION</span>
            </div>

            <!-- Action Buttons -->
            <div class="d-flex urg flex-column flex-sm-row align-items-center gap-3 mt-3" style="max-width: 89%;">
              <button class="btn btn-success w-100 w-sm-50" (click)="redirectToDoctorSearch()">See a doctor
                urgently</button>
              <button class="btn btn-outline-success border-2 w-100 w-sm-50"
                (click)="redirectToHeaderService()">Services</button>
            </div>


          </div>

          <!-- Image Section -->
          <div class="col-lg-5 d-none d-lg-flex justify-content-lg-end justify-content-center mt-3 mt-lg-0 ">
            <img src="../../../../assets/svg/homepage/image_2024_11_08T08_51_31_420Z.png" alt="Mother and child smiling"
              class="img-fluid rounded shadow-sm">
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<!-- hero end -->
<!-- carousel onn -->
<div class="mainspecialties">
  <div class="subspecialties">
    <div class="specialties container px-3 " [@slideInRight]>
      <h2 class="pt-3 text-start bold" style="font-size: 40px ; font-weight: 500;">Popular
        Specialties</h2>

      <div class="my-4" style=" margin-left:1px;">

        <div class="d-flex flex-wrap align-items-center gap-3">
          <ng-container *ngFor="let item of speciality">
            <div class="d-flex align-items-center specialty-card cursor" (click)="searchDoctorBySpeciality(item.name)">
              <span class="d-flex justify-content-between w-100">
                {{ item.name }}
                <i class="fas fa-arrow-right text-success"></i>
              </span>
            </div>
          </ng-container>
        </div>

        <!-- Align View All Specialties -->
        <div class="row mt-4">
          <div class=" d-flex justify-content-center  justify-content-md-end cursor">
            <a class="text-success fw-bold d-inline-flex align-items-center" (click)="viewAllSpecialties()">
              View all specialties
              <i class="fas fa-arrow-right ms-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- doctors start -->
<div class="maindoctor">
  <div class="subdoctor">
    <div class="doctor container    px-3">
      <h1 class="bold" style="font-size: 40px;">Top Doctors</h1>
      <p style="color: black; font-size: 18px; margin-left:1px" class="pt-1 ">Our most trusted and skilled medical
        practitioners</p>
      <div class="slcont position-relative">
        <div class="slider">
          <div class="slider-wrapper" #sliderWrapper>
            <div class=" slider-item mb-2" *ngFor="let item of topDoctorsData">
              <div class="doctor-card h-100 d-flex flex-column">
                <div class="">
                  <div class="row equal">
                    <h3 *ngIf="item?.accountType == 'IndependentProvider'" class="mb-1 mt-0"
                      style="color: #00876f!important; "
                      [ngClass]="{ 'doctor-name': true, 'cursor': userInfo?.accountType === 'Patient' || !userInfo }"
                      (click)="redirectToProviderDetail(item.userId)">
                      {{ item.firstName }} {{ item.lastName }}, {{ item.qualificationName }}
                    </h3>

                    <h3 *ngIf="item?.accountType == 'PrivatePractices' || item?.accountType == 'Facility'" class="mb-1 mt-0"
                      style="color: #00876f!important; "
                      [ngClass]="{ 'doctor-name': true, 'cursor': userInfo?.accountType === 'Patient' || !userInfo }"
                      (click)="redirectToProviderDetail(item.userId)">
                      {{ item.legalPracticeName }}, {{ item.qualificationName }}
                    </h3>

                    <div class="col-sm-3 col-md-3 col-lg-3 col-3">
                      <img *ngIf="item.profilePicturePath!='https://localhost:5001/undefined'"
                        [src]="item.profilePicturePath"
                        [ngClass]="{ 'doctor-photo': true, 'cursor': userInfo?.accountType == 'Patient' || !userInfo }"
                        (click)="redirectToProviderDetail(item.userId)">
                      <img *ngIf="item.profilePicturePath=='https://localhost:5001/undefined'"
                        alt="Doctor Profile Default" src="../../../../assets/svg/DoctorAvatar/MaleAvatar.png"
                        [ngClass]="{ 'doctor-photo': true, 'cursor': userInfo?.accountType == 'Patient' || !userInfo }"
                        (click)="redirectToProviderDetail(item.userId)">
                    </div>
                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 " style="padding-left:30px!important ;">

                      <div class="  mt-1 text-start mb-0 "><i class="fa fa-map-marker-alt text-success"></i> {{
                        getStateAndCountry(item)|| '--------' }}</div>
                      <div class=" col-12 d-flex justify-content-start  mt-1"><i
                          class="fa fa-briefcase text-success mt-1 me-1"></i>
                        {{item.experience}} years experience</div>
                      <p class="doctor-specialty mb-0 ms-1">
                        <span *ngIf="item.specialist?.length > 0; else noSpecialties">
                          <span *ngFor="let item of item.specialist; let isLast = last">
                            {{ item.specialistNames }}<span *ngIf="!isLast">, </span>
                          </span>
                        </span>
                        <ng-template #noSpecialties><span class="text-muted">Not Available</span></ng-template>
                      </p>


                      <div class="doctor-rating mb-1">

                        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                          <ng-container [ngSwitch]="getStarType(star, item.averageRating)">
                            <mat-icon *ngSwitchCase="'full'" class="text-warning">star</mat-icon>
                            <mat-icon *ngSwitchCase="'half'" class="text-warning">star_half</mat-icon>
                            <mat-icon *ngSwitchCase="'empty'" class="text-secondary">star</mat-icon>
                          </ng-container>
                        </ng-container>
                      </div>
                    </div>
                  </div>


                  <div class="row text-center justify-content-around mb-2">
                    <div class="doctor-info col-4 mt-1"><i class="fas fa-camera"></i> Telehealth</div>
                    <div class="doctor-info col-4 mt-1"><i class="fa fa-building"></i> Office Visit</div>
                    <div class="doctor-info col-4 mt-1"><i class="fa fa-home"></i> Home Visit</div>




                  </div>
                </div>



                <hr class="mt-0 mb-2 ">
                <div class="row">
                  <div class="col-6">
                    <p class="mb-0" style="font-weight:600!important;">{{item.date | date:'EEE, MMM d'}}</p>
                  </div>
                  <div class="col-6">

                  </div>
                </div>


                <div class="row slots g-2 mt-2">
                  <ng-container *ngIf="item?.availabilities?.length">
                    <ng-container *ngIf="getTodayOrNextSlots(item.availabilities) as slots">
                      <div class="col-4" *ngFor="let slot of slots.slice(0, 5)">
                        <button class=""
                          [ngClass]="{ 'time-btn': true, 'cursor': userInfo?.accountType == 'Patient' || !userInfo }"
                          [disabled]="!role && userInfo !== null"
                          (click)="redirectToBookAppointment(item.userId, slot.id, slot.date, slot.startTime)">
                          {{ slot.startTime }}
                        </button>
                      </div>

                      <div class="col col-md d-flex">
                        <button class="more-times-btn  w-100 flex-grow-1" [disabled]="!role && userInfo !== null"
                          (click)="redirectToDoctorProfile(item.userId)">
                          More
                        </button>
                      </div>
                    </ng-container>
                  </ng-container>

                </div>



              </div>
            </div>
          </div>
        </div>

        <!-- Updated navigation buttons to always show -->
        <div class="slider-controls" *ngIf="totalSlides > 0">
          <button (click)="prevSlide()" class="prev">Prev</button>
          <button (click)="nextSlide()" class="next">Next</button>
        </div>
      </div>

      <!-- Healthcare Section -->
      <div class="row healthcare-section pt-4">
        <div class="col-md-7 col-12 pt-3">
          <p class="lead text-muted">Searching for a new healthcare provider?</p>
          <p><strong class="text-dark">Chalice Health has got you covered!</strong></p>
        </div>
        <div
          class="col-md-5 col-12 d-flex align-items-center justify-content-md-end justify-content-center mt-3 mt-md-0">
          <button class="find-doctor-btn" (click)="redirectToDoctorSearch()">Find a Doctor</button>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- doctors end -->
<!-- brows start -->
<div class="mainbrowse">
  <div class="subbrowse">
    <div class="browse px-3 container">
      <h1 class="mt-4 bold">Browse by Services</h1>

      <!-- Carousel Indicators -->

      <!-- Carousel Inner -->

      <div class="slcont2 position-relative">
        <div class="slider">
          <div class="slider-wrapper" #sliderWrapper2>
            <div class="slider-item" *ngFor="let item of serviceData">
              <div class="card cursor" (click)="redirectToServiceListing(item)">
                <div class="browse-card-inner">
                  <i [ngClass]="item.imageUrl + ' p-3 fs-1 ms-3 mt-3'"
                    style="color: #00876f; background-color:#E5F3F0; border-radius:4px;"></i>
                  <div class="card-body text-start">
                    <h5 class="fs-5 mt-3" style="color: #00876f; font-weight:600;">{{item.categoryName}}</h5>
                    <p class="px-0 m-0">{{item.description}}</p>
                    <div class="pt-4">
                      <span>{{item.providerCount}} Listings</span>
                      <i class="fas fa-arrow-right arrow-icon pt-1" style="float: right; color: #01876f;"
                        (click)="redirectToServiceListing(item)"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="slider-controls2" *ngIf="totalSlides > 0">
          <button (click)="prevSlide2()">Prev</button>
          <button (click)="nextSlide2()">Next</button>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- about start -->
<div class="mainabout">
  <div class="subabout">
    <div class="about py-4 container">
      <h1 class="text-center bold " style="color: #01876f;">About Chalice Health</h1>
      <p class="about-Chalice-para pt-0">Chalice Health is a patient-centered healthcare platform that simplifies your
        journey to finding quality care. We connect you with compassionate, qualified healthcare providers who offer
        transparent, fixed-rate services without the complexity of insurance.</p>
      <!-- next -->

      <!-- Our Services -->
      <div class="services">
        <h3 class="services-heading bold mt-4 mb-1">Our Services</h3>
        <div class="row  box">
          <div class="col-lg-4 col-md-6 mt-3">
            <div class="card p-3 services-list">
              <div class="services-list-image mb-4">
                <img src="../../../../assets/svg/virtual-consultations.png" alt="">
              </div>
              <h5 class="Services-list-heading">Virtual Consultations</h5>
              <p class="Services-list-para">Expert medical advice from the comfort of your home</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-3">
            <div class="card p-3 services-list">
              <div class="services-list-image mb-4">
                <img src="../../../../assets/svg/In-Perso- Visits.jpg" alt="">
              </div>
              <h5 class="Services-list-heading">In-Person Visits</h5>
              <p class="Services-list-para">Simple scheduling with trusted<br> providers</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-3">
            <div class="card p-3 services-list">
              <div class="services-list-image mb-4">
                <img src="../../../../assets/svg/Home-Care.jpg" alt="">
              </div>
              <h5 class="Services-list-heading">Home Care Services</h5>
              <p class="Services-list-para">Professional healthcare delivered to your doorstep</p>
            </div>
          </div>
        </div>
      </div>


      <!-- What Makes Us Different -->

      <!-- next end -->
      <h2 class="text-center how-it-work-heading bold " style="color: #01876f; padding-top: 30px;font-size: 32px;">How
        It
        Works</h2>
      <!-- Cards section -->
      <div class="row box ">
        <div class="col-lg-4 col-md-6 mb-4  mt-3 d-flex justify-content-center">
          <div class="card" style="max-width: 392px; background-color: #ffffff; border: none; border-radius: 10px;">
            <img class="card-img-top p-3 " style="border-radius: 20px;" src="../../../../assets/svg/imgc/Explore.jpg"
              height="230px" alt="Card image cap" />
            <div class="card-body text-center">
              <h5 class="card-title d-flex align-items-center justify-content-center">
                Step 1
              </h5>
              <h6 style="font-size: 24px; font-weight: 500; color:black;margin-bottom: 16px;
              margin-top: 0px!important; ">Find the Right Fit</h6>
              <p class="card-text" style="font-size: 14px; line-height: 1.5; color: #777;">
                Explore our network of qualified and compassionate providers. Filter by specialty, location, and
                conditions to find the perfect match for your needs.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4  mt-3 d-flex justify-content-center">
          <div class="card" style="max-width: 392px; background-color: #ffffff; border: none; border-radius: 10px;">
            <img class="card-img-top p-3" style="border-radius: 20px;" src="../../../../assets/svg/imgc/Book1..jpg"
              height="230px" alt="Card image cap" />
            <div class="card-body text-center">
              <h5 class="card-title d-flex align-items-center justify-content-center gap-2">
                Step 2
              </h5>
              <h6 style="font-size: 24px; font-weight: 500; color: black;margin-bottom: 16px;">Schedule with Ease</h6>
              <p class="card-text" style="font-size: 14px; line-height: 1.5; color: #777;">
                Book your appointment directly through our platform, 24/7. Choose from virtual consultations, in-person
                visits, or home care services—all in a few clicks.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4  mt-3 d-flex justify-content-center">
          <div class="card" style="max-width: 392px; background-color: #ffffff; border: none; border-radius: 10px;">
            <img class="card-img-top p-3" style="border-radius: 20px;" src="../../../../assets/svg/imgc/DALL·E.jpg"
              height="230px" alt="Card image cap" />
            <div class="card-body text-center">
              <h5 class="card-title d-flex align-items-center justify-content-center gap-2">
                Step 3
              </h5>
              <h6 style="font-size: 24px; font-weight: 500; color:black;margin-bottom: 16px;">Get the Care You Deserve
              </h6>
              <p class="card-text" style="font-size: 14px; line-height: 1.5; color: #777;">
                Connect with your chosen provider for your consultation. Ask questions, get expert advice, and take
                control of your health journey.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- about end -->

<!-- patient start  -->
<div class="patientmain bg-white">
  <div class="subpatient">
    <div class="patient">
      <div>
        

        <!-- Collapse section is shown by default -->
        <div id="patientProviderSection" class="collapse show py-4 Z" style="background-color: #FFF1E5;
                 padding-right: 158px;
                 padding-left: 158px;">
                 <!-- Heading no longer toggles collapse -->
        <h1 class="text-center patienmain-heading bold py-1" style="border-radius: 5px;
                 font-size: 37px;
                 cursor: default;
                 background-color: #FFF1E5;
                 opacity: 0.9;
                 margin: auto;
                 transition: all 0.3s ease-in-out;">
          Why Use Chalice Health
        </h1>

          <!-- For Patients Section -->
          <div class="container my-4 pt-4 pb-2 px-0">
            <div class="row align-items-center">
              <div class="col-lg-5 mb-3 d-lg-flex col-md-12 justify-content-start">
                <img src="../../../../assets/svg/homepage/202.png" class="img-fluid mobile-full-img rounded"
                  alt="Find care image" style="max-width: 91%; height: 400px;">
              </div>
              <div class="col-lg-7 col-md-12 mb-4 mb-lg-0">
                <h4><strong>For Patients</strong></h4>
                <strong style="color: #333333; font-weight: 600; font-size: 18px;">
                  Avoid Long Waits –
                </strong>
                <p class="mt-1">
                  Access healthcare on your terms. Schedule appointments, refill prescriptions, and
                  receive care without waiting rooms or long calls.
                </p>
                <strong style="color: #333333; font-weight: 600; font-size: 18px;">
                  No Surprise Billing –
                </strong>
                <p class="mt-1">
                  See exact costs before booking. Our pay-per-appointment model helps you manage your
                  healthcare budget.
                </p>
                <strong style="color: #333333; font-weight: 600; font-size: 18px;">
                  Quality Care You Can Trust –
                </strong>
                <p class="mt-1">
                  Connect with board-certified physicians and specialists dedicated to exceptional care.
                </p>
                <p class="text-muted">
                  <em>
                    Ready to take charge of your health? Find care with Chalice Health today.
                  </em>
                </p>
                <div class="d-flex align-items-center">
                  <button class="btn btn-outline-none" type="button" (click)="redirectToDoctorSearch()">
                    <i class="fas fa-search"
                      style="width: 25px; height: 25px; border: 2px solid #01876f; border-radius: 50%;">
                    </i>
                    <span class="ps-2">Find Care</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- For Providers Section -->
          <div class="container my-4 pt-4 pb-2 px-0">
            <div class="row align-items-center">
              <div class="col-lg-7 col-md-12 mb-lg-0 pe-2">
                <h4><strong>For Providers</strong></h4>
                <strong style="color: #333333; font-weight: 600; font-size: 18px;">
                  Streamlined Operations –
                </strong>
                <p class="mt-1">
                  Eliminate insurance paperwork and complicated billing. Our cash-pay model ensures
                  immediate payment and reduced admin overhead.
                </p>
                <strong style="color: #333333; font-weight: 600; font-size: 18px;">
                  Smart Scheduling –
                </strong>
                <p class="mt-1">
                  Manage your practice efficiently with our automated system. Spend less time on admin,
                  more on patients.
                </p>
                <strong style="color: #333333; font-weight: 600; font-size: 18px;">
                  Practice Growth –
                </strong>
                <p class="mt-1">
                  Expand your patient base while cutting operational costs through our platform.
                </p>
                <p class="text-muted">
                  <em>
                    Ready to transform your practice? Join Chalice Health today.
                  </em>
                </p>
                <div class="d-flex align-items-center">
                  <button class="btn btn-outline-none" type="button" (click)="redirectToProviderSignup()">
                    <i class="fas fa-search"
                      style="width: 25px; height: 25px; border: 2px solid #01876f; border-radius: 50%;">
                    </i>
                    <span class="ps-2">Join Today</span>
                  </button>
                </div>
              </div>
              <div class="col-lg-5 col-md-12 mt-3 d-lg-flex justify-content-end">
                <img src="../../../../assets/svg/homepage/850.png" class="img-fluid mobile-full-img rounded"
                  alt="Join provider image" style="max-width: 91%; height: 430px;">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- patient End  -->




<!-- pthealth start -->
<div class="mainpthealth">
  <div class="subpthealth">
    <div class="pthealth">
      <div class=" pt-2 pb-2  px-3">
        <h2 class="text-center pb-4 bold" s tyle="color: #01876f;">Patients Love Chalice Health</h2>
        <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <!-- Testimonial 1 - First Card -->
            <div class="carousel-item active">
              <div class="row justify-content-center">
                <div class="col-lg-5 col-md-12">
                  <div class="border h-100 d-flex flex-column p-3">
                    <div class="d-flex align-items-center border">
                      <img src="../../../../assets/svg/tim.jpeg" class="rounded-circle p-1 ms-2" alt="Customer"
                        style="width: 90px; height: 90px;">
                      <div class="d-block p-4">
                        <h5 class="text-success">Tim</h5>
                        <span class="badge-secondary d-block text-warning">
                          <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i>
                        </span>
                      </div>
                    </div>
                    <p class="text-start pt-3 ps-3 pe-3 pb-2 border" style="min-height: 105px!important;">
                      <span class="text-dark"><i class="fas fa-quote-left"></i></span><br>

                      I was able to get a prescription to paxloid and I recovered from Covid but impossible to tell if
                      the pills helped, as my wife recovered in shut the same time. It took a total of almost 24 hrs to
                      get the prescription.

                    </p>
                  </div>
                </div>
                <div class="col-lg-5 col-md-12 d-none d-md-block">
                  <div class="border h-100 d-flex flex-column p-3">
                    <div class="d-flex align-items-center border">
                      <img src="../../../../assets/svg/lwanda.jpeg" class="rounded-circle p-1 ms-2" alt="Customer"
                        style="width: 90px; height: 90px;">
                      <div class="d-block p-4">
                        <h5 class="text-success">Lwanda</h5>
                        <span class="badge-secondary d-block text-warning">
                          <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i>
                        </span>
                      </div>
                    </div>
                    <p class="text-start pt-3 ps-3 pe-3 pb-2 border" style="min-height: 105px!important;">
                      <span class="text-dark"><i class="fas fa-quote-left"></i></span><br>

                      My experience was exceptional, fast, and easy.

                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Testimonial 2 - Second Card -->
            <div class="carousel-item">
              <div class="row justify-content-center">
                <div class="col-lg-5 col-md-12">
                  <div class="border h-100 d-flex flex-column p-3">
                    <div class="d-flex align-items-center border">
                      <img src="../../../../assets/svg/harrison.jpeg" class="rounded-circle p-1 ms-2" alt="Customer"
                        style="width: 90px; height: 90px;">
                      <div class="d-block p-4">
                        <h5 class="text-success">Harrison</h5>
                        <span class="badge-secondary d-block text-warning">
                          <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i>
                        </span>
                      </div>
                    </div>
                    <p class="text-start pt-3 ps-3 pe-3 pb-2 border" style="min-height: 105px!important;">
                      <span class="text-dark"><i class="fas fa-quote-left"></i></span><br>

                      Very good service, it is fast and I can get the medication in almost real time, I like it.

                    </p>
                  </div>
                </div>
                <div class="col-lg-5 col-md-12 d-none d-md-block">
                  <div class="border h-100 d-flex flex-column p-3">
                    <div class="d-flex align-items-center border">
                      <img src="../../../../assets/svg/edgardo.jpg" class="rounded-circle p-1 ms-2" alt="Customer"
                        style="width: 90px; height: 90px;">
                      <div class="d-block p-4">
                        <h5 class="text-success">Edgardo</h5>
                        <span class="badge-secondary d-block text-warning">
                          <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i>
                        </span>
                      </div>
                    </div>
                    <p class="text-start pt-3 ps-3 pe-3 pb-2 border" style="min-height: 105px!important;">
                      <span class="text-dark"><i class="fas fa-quote-left"></i></span><br>

                      The experience with Paxlovid was very good since in five days of taking this medicine I no longer
                      had Covid. I do recommend it. Thank you.

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Carousel controls -->
          <button class="carousel-control-prev pe-5" type="button" data-bs-target="#testimonialCarousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next ps-5" type="button" data-bs-target="#testimonialCarousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>



      </div>

    </div>
  </div>
</div>
<!-- ptlhealth end -->

<!-- FAQS START -->
<div class="mainFAQS ">
  <div class="subFAQS pt-2 px-3">
    <div class="FAQS container px-3">
      <div class=" mb-2">
        <h2 class="text-center bold cursor" style="color: #01876f;" (click)="FAQS()">FAQs</h2>
        <div class="accordion mt-4" id="faqAccordion">

          <!-- FAQ 1 -->
          <div class="accordion-item border-0 rounded-pill " style="background-color:white;">
            <h2 class="accordion-header mb-0" id="headingOne">
              <button
                class="accordion w-100 border-0 p-3 collapsed bg-white text-start d-flex justify-content-between custom-accordion-button"
                type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne" style="color: black; font-size: 17px;">
                What is Chalice Health?
                <i class="fas fa-chevron-down ms-auto mt-3 me-2" style="font-size: 13px;"></i>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body px-3 py-0">
                Chalice Health is your gateway to convenient and affordable healthcare access. Our platform connects
                you with a wide range of medical professionals, ensuring seamless assistance with your healthcare
                needs, regardless of your location. We prioritize convenience and affordability, offering solutions
                that reduce wait times and support your health journey. Whether you prefer virtual consultations or
                in-person visits, we provide options tailored to your needs and the availability of our providers.
              </div>
            </div>
          </div>



          <!-- FAQ 2 -->
          <div class="accordion-item border-0 rounded-pill" style="background-color:white;">
            <h2 class="accordion-header mb-0" id="headingTwo">
              <button
                class="accordion w-100 border-0 p-3 bg-white collapsed text-start d-flex justify-content-between accordion-toggle"
                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo" style="color: black; font-size: 17px;">
                Who is Chalice Health for?
                <i class="fas fa-chevron-down ms-auto mt-3 me-2" style="font-size: 13px;"></i>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body px-3 py-0">
                Chalice Health is for everyone! We cater to individuals and families, regardless of their insurance
                status. Our platform is particularly beneficial for those who:
                <ul class="pt-3">
                  <li> Lack health insurance.</li>
                  <li>Have high-deductible health plans (HDHPs) with high out-of-pocket costs.</li>
                  <li>Face challenges accessing quality healthcare due to geographic location or socioeconomic
                    factors.</li>
                </ul>
              </div>
            </div>
          </div>


          <!-- FAQ 3 -->
          <div class="accordion-item border-0 rounded-pill" style="background-color:white;">
            <h2 class="accordion-header mb-0" id="headingThree">
              <button
                class="accordion w-100 border-0 p-3 collapsed bg-white text-start d-flex justify-content-between accordion-toggle"
                type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree" style="color: black; font-size: 17px;">
                What sets Chalice Health apart?
                <i class="fas fa-chevron-down ms-auto mt-3 me-2" style="font-size: 13px;"></i>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body px-3 py-0 ">
                Chalice Health is committed to making quality healthcare accessible and affordable for everyone.
                Here’s what sets us apart: <br>
                <ul>
                  <li><span style="font-weight: 600;">Discounted Rates:</span> Enjoy significant cost savings with
                    our transparent pricing structure. You’ll see upfront pricing, up to 60% lower than traditional
                    healthcare costs.</li>
                  <li><span style="font-weight: 600;">No Hidden Fees:</span> We prioritize transparency. The price
                    you see is the price you pay – no surprise charges or confusing billing practices.</li>
                  <li><span style="font-weight: 600;">No Insurance Required:</span> We believe access to care
                    shouldn’t be limited by insurance status. Utilize our platform regardless of your insurance
                    coverage.</li>
                </ul>
              </div>
            </div>
          </div>


          <!-- FAQ 4 -->
          <div class="accordion-item border-0 rounded-pill" style="background-color:white;">
            <h2 class="accordion-header mb-0" id="headingFour">
              <button class="accordion w-100 border-0 p-3 collapsed bg-white text-start d-flex justify-content-between"
                type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                aria-controls="collapseFour" style="color: black; border-radius: 50px; font-size: 17px;">
                Is Chalice Health a substitute for traditional healthcare providers?
                <i class="fas fa-chevron-down ms-auto mt-2 me-2" style="font-size: 13px;"></i>
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body py-0">
                No, Chalice Health is not a substitute for traditional healthcare providers. We work collaboratively to
                complement existing healthcare services. Our platform offers a convenient and accessible way to connect
                with qualified professionals for consultations, prescriptions (when appropriate), and ongoing care
                management.
              </div>
            </div>
          </div>

        </div>
        <div class="text-center mt-4 w-50 mx-auto">
          <button class="btn btn-outline-success px-4 py-2" (click)="FAQS()"
            style="color: white!important; border-color: #01876f; background-color: #01876f!important;">
            Learn More
          </button>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- FAQS End -->

<!-- why us Different -->


<!-- intouch end -->
<!-- footer start -->
<footer class="mainfooter bg-white">
  <hr>
  <div class="subfooter">
    <div class="footer ">
      <div class="footer-container">
        <div class="logo-section pe-5">
          <a href="/home-page">
            <img src="../../../../assets/svg/homepage/Chalice_Health_Logo.png" alt="Chalice Health Logo">
          </a>
          <p style="color: #333333; padding-top: 20px; font-size: 16px; font-family: Arial,  sans-serif;">Quick and
            Affordable Healthcare </p>
        </div>
        <div class="footer-column mt-3 mt-md-0">
          <h3>Services</h3>
          <ul>
            <li *ngFor="let item of serviceData" (click)="redirectToServiceListing(item)"><span> <i
                  class="fas fa-chevron-right"></i></span> {{item.categoryName}}</li>

          </ul>
        </div>
        <div class="footer-column">
          <h3>Popular</h3>
          <ul>
            <li (click)="navigateToBlogContent()">
              <span><i class="fas fa-chevron-right"></i></span>
              Blogs
            </li>

            <li (click)=" FAQS()"><span><i class="fas fa-chevron-right"></i></span> FAQs</li>
            <li (click)="contact()"><span><i class="fas fa-chevron-right"></i></span> Contact Us</li>

          </ul>
        </div>

        <div class="footer-column mt-3 mt-md-0">
          <h3>Social</h3>
          <ul>
            <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.facebook.com/ChalicehealthX/"
                target="_blank" rel="noopener noreferrer"> <i class="fab fa-facebook ms-2"></i> Facebook</a></li>
            <li><span><i class="fas fa-chevron-right"></i></span> <a
                href="https://www.linkedin.com/company/chalicehealth/" target="_blank" rel="noopener noreferrer"><i
                  class="fab fa-linkedin ms-2"></i> LinkedIn</a> </li>
            <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.instagram.com/chalicehealth/"
                target="_blank" rel="noopener noreferrer"> <i class="fab fa-instagram ms-2"></i> Instagram</a></li>
            <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.youtube.com/@ChaliceHealth"
                target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube ms-2 "></i> YouTube</a> </li>
            <li><span><i class="fas fa-chevron-right"></i></span> <a href=" https://www.tiktok.com/@chalicehealth"
                target="_blank" rel="noopener noreferrer"><i class="fab fa-tiktok ms-2"></i> TikTok</a></li>
          </ul>
        </div>
        <!-- next -->
        <div class="footer-column mt-3 mt-md-0">

          <div class="">
            <h3>Join Our Community</h3>
            <p>Be the first to know we offer deals.</p>
            <form [formGroup]="communityForm">
              <div class="subscribe-form position-relative">

                <input type="text" id="email" class="form-control" formControlName="email" placeholder="Enter Email"
                  [ngClass]="{'is-invalid': communityForm.get('email')?.invalid && communityForm.get('email')?.touched}">

                <div class="invalid-feedback position-absolute mb-3" style="top: 37px;"
                  *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('required')">
                  Email is required.
                </div>

                <div class="fv-plugins-message-container invalid-feedback d-block position-absolute" style="top:37px;"
                  *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('invalidEmail')">
                  Please enter a valid email address.
                </div>

                <button type="submit" (click)="postJoinOurCommunity()"><i class="fas fa-envelope"></i>
                </button>
              </div>

            </form>

            <div class="d-flex justify-content-between mt-3 ">
              <img src="../../../../assets/svg/homepage/unnamed.png" width="120px" height="100px" alt="">
              <img src="../../../../assets/svg/homepage/HIPAA-logo.png" width="150px" height="80px" alt=""
                class="mt-2 ms-2">
            </div>
          </div>
        </div>
      </div>
      <hr class="mt-0">
      <!-- Bottom section -->
      <div class="footer-bottom d-flex flex-column flex-md-row mb-2 justify-content-center mx-auto" style="width: 85%;">
        <p class="text-nowrap mb-2 mt-mb-0  ">&copy; 2024 Chalice Health. All Rights Reserved.</p>
        <span class="w-md-75 w-100 d-flex justify-content-md-end justify-content-center cursor">
          <a (click)="redirectTotermofservice()">Term of Service</a>
          <a (click)="redirectToprivacypolicy()">Privacy Policy</a>
        </span>
      </div>
    </div>
  </div>
</footer>

<!-- footer end -->