<div class="login-container" style=" background: linear-gradient(135deg, #83c0b1, #96c0a8, #cbbe91, #e6bf84);">
    <div class="row w-100">
        <div class="col-12 col-md-6 col-lg-6 p-0">
            <div class="login-card">
                <div class="pt-3">
                    <a href="/home-page">
                        <img src="../../../../assets/svg/homepage/Chalice_Health_Logo.png" width="200px" alt="Chalice Health Logo">
                    </a>
                </div>
                <h2 class="pt-5">Create your account</h2>
                <form [formGroup]="signupForm">
                    <div class="row">
                        <div class="col-sm-6 text-start">
                            <label for="firstName"> First Name <span class="red">*</span></label>
                            <input type="text" id="firstName" class="form-control form-control-sm mt-1"
                                formControlName="firstName"
                                [ngClass]="{'is-invalid':signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched}"
                                [value]="signupForm.get('firstName')?.value | capitalizeFirstLetter">
                            <div class="invalid-feedback"
                                *ngIf="signupForm.get('firstName')?.touched && signupForm.get('firstName')?.hasError('required')">
                                First Name is required.
                            </div>
                            <div class="invalid-feedback"
                           *ngIf="signupForm.get('firstName')?.touched && signupForm.get('firstName')?.hasError('pattern')">
                            First Name cannot be empty or only spaces.
                       </div>
                            
                        </div>
                        <div class="col-sm-6 text-start">
                            <label for="lastName" class="pb-1">Last name<span class="red">*</span></label>
                            <input type="text" id="lastName" class="form-control form-control-sm"
                                formControlName="lastName"
                                [ngClass]="{'is-invalid': signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched}">
                            <div class="invalid-feedback"
                                *ngIf="signupForm.get('lastName')?.touched && signupForm.get('lastName')?.hasError('required')">
                                Last Name is required.
                            </div>
                            <div class="invalid-feedback"
                           *ngIf="signupForm.get('lastName')?.touched && signupForm.get('lastName')?.hasError('pattern')">
                            Last Name cannot be empty or only spaces.
                       </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-start" *ngIf="!patient">
                            <label>Account Type<span class="red">*</span></label>
                            <select class="form-select form-select-sm cursor mt-1" formControlName="accountType"
                                [ngClass]="{'is-invalid': signupForm.get('accountType')?.invalid &&  signupForm.get('accountType')?.touched}">
                                <option value="" disabled selected>Select</option>
                                <option value=2>Independent Provider</option>
                                <option value=3>Private Practice</option>
                                <option value=4>Facility</option>
                            </select>
                            <div class="invalid-feedback"
                                *ngIf="signupForm.get('accountType')?.touched && signupForm.get('accountType')?.hasError('required')">
                                Account Type is required.
                            </div>
                        </div>
                        <div class="col-sm-6 text-start">
                            <label>Phone Number<span class="red">*</span></label>
                            <input class="form-control form-control-sm mt-1" type="text" formControlName="phoneNumber"
                                (input)="formatPhoneNumber($event)" maxlength="14"
                                [ngClass]="{'is-invalid': signupForm.get('phoneNumber')?.invalid &&  signupForm.get('phoneNumber')?.touched}">
                            <div class="invalid-feedback"
                                *ngIf="signupForm.get('phoneNumber')?.touched && signupForm.get('phoneNumber')?.hasError('required')">
                                Phone Number is required.
                            </div>
                            <div class="invalid-feedback"
                                *ngIf="signupForm.get('phoneNumber')?.touched && signupForm.get('phoneNumber')?.hasError('invalidPhonePattern')">
                                Phone number is invalid.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 text-start">
                            <label for="email" class="pb-1">Email<span class="red">*</span></label>
                            <input type="text" id="email" class="form-control" formControlName="email"
                                placeholder="Enter Email"
                                [ngClass]="{'is-invalid': signupForm.get('email')?.invalid && signupForm.get('email')?.touched}">
                            <div class="invalid-feedback"
                                *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.hasError('required')">
                                Email is required.
                            </div>
                            <div class="fv-plugins-message-container invalid-feedback d-block"
                                *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.hasError('email')">
                                Email is not valid.
                            </div>
                            <div class="fv-plugins-message-container invalid-feedback d-block"
                          *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.hasError('invalidEmail')">
                             Please enter a valid email address.
                            </div>
                        </div>
                      
                        <div class="col-sm-6 text-start">
                            <label for="password" class="pb-1">Password<span class="red">*</span></label>
                            <div class="password-input-container position-relative">
                                <input type="{{ hidePassword ? 'password' : 'text' }}" id="password"
                                    class="form-control form-control-eye" formControlName="password"
                                    placeholder="Enter Password"
                                    [ngClass]="{'is-invalid': signupForm.get('password')?.invalid && signupForm.get('password')?.touched}">
                                
                                <i class="toggle-password-icon fas"
                                    [ngClass]="{ 'fa-eye': !hidePassword, 'fa-eye-slash': hidePassword }"
                                    (click)="togglePasswordVisibility()"></i>
                                
                                <div class="invalid-feedback" *ngIf="signupForm.get('password')?.touched">
                                    <span *ngIf="signupForm.get('password')?.hasError('required')">
                                        Password is required.
                                    </span>
                                    <span *ngIf="signupForm.get('password')?.hasError('minlength')">
                                        Password must be at least 8 characters long.
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-start">
                            <label>How did you hear about us?</label>
                            <select class="form-select form-select-sm cursor mt-1"
                                formControlName="howdidyouhearaboutus"
                                [ngClass]="{'is-invalid': signupForm.get('howdidyouhearaboutus')?.invalid &&  signupForm.get('howdidyouhearaboutus')?.touched}">
                                <option value="" disabled selected>Select</option>
                                <option value=1>Tv</option>
                                <option value="2">Radio</option>
                                <option value="3">Billboard</option>
                                <option value="4">Google Search</option>
                                <option value="5">Social Media</option>
                                <option value="6">Word of Mouth</option>
                                <option value="7">Mail</option>
                                <option value="8">Other</option>
                            </select>
                            <!-- <div class="invalid-feedback"
                                *ngIf="signupForm.get('howdidyouhearaboutus')?.touched && signupForm.get('howdidyouhearaboutus')?.hasError('required')">
                                How did you hear about us is required.
                            </div> -->
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary login-button mt-4" (click)="signup()">
                        <span class="visually-hidden">Loading...</span>
                        <i class="fas" [ngClass]="{ 'fa-spinner fa-spin': loading }"></i>
                        <span *ngIf="!loading" class="space">Register</span>
                        <span *ngIf="loading" class="space">Loading...</span>
                    </button>
                    <p class="sign-up-link">Already have an account? <a class="cursor" (click)="redirectToLogin()">Sign
                            in</a></p>
                </form>
            </div>
        </div>
        <div class=" image col-12 col-md-6 col-lg-6 d-flex justify-content-center">
            <img src="../../../../assets/svg/homepage/g1.png" width="600px" alt="">
        </div>
    </div>
</div>