<app-header></app-header>

  
<!-- content -->
 <div class="maincont">
    <div class="subcont">
        <div class="cont pb-5 pt-2">
            <div class="row sideboth align-items-center">
                <div class="col-md-6  col-12 left text-md-start text-center" [@slideInLeft] >
                    <h1 class="bold mb-3" style="line-height: 37px;">Welcome to Personalized <br> Healthcare for Patients</h1>
                    <p class="text-muted">
                      Experience compassionate, accessible, and personalized healthcare tailored to your needs.  
                      Easily schedule appointments,<br> connect with doctors, and manage your health effortlessly.
                    </p>
                    <button class="btn btn-success px-4 py-2 mt-3 cursor" (click)="redirectToDoctorSearch()">Find Care Today</button>
                </div>
                <div class="col-md-6 right  col-12 text-end mt-md-0" [@slideInRight] >
                    <img src="../../../../assets/svg/Daka.jpg" class="img-fluid mt-5 rounded-3" style="max-width: 500px;" alt="Doctor Image">
                </div>
            </div>
            
        </div>
        
    </div>
 </div>


<div class="benefits-section" style="background-color: #FFF1E5;">
<div class="container">
    <h2 class="benefits-title">Benefits of using Chalice Health</h2>
    <div class="row gy-4" [@slideInTop]>
        <div class="col-md-4 ">
            <div class="benefit-box">
                <h2 style="color: #ec861acb;">1</h2>
                <h3>Convenience</h3>
                <p>Access quality healthcare from home—no travel, no waiting rooms. Get care when and where you need it with our easy-to-use virtual services.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="heilight">
                <h2 style="color: #ec861acb;" >2</h2>
                <h3>Flexible Scheduling</h3>
                <p>Book appointments that fit your lifestyle. Choose from in-person, in-home, or virtual consultations—healthcare on your terms.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="benefit-box">
                <h2 style="color: #ec861acb;" >3</h2>
                <h3>Comprehensive Services</h3>
                <p>From routine checkups to dental care, therapy, imaging, and prescriptions—we’ve got you covered. Chalice Health offers all-in-one healthcare solutions tailored to you.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="heilight ">
                <h2 style="color: #ec861acb;" >4</h2>
                <h3>Trusted Providers</h3>
                <p>Connect with licensed, experienced healthcare professionals across multiple specialties. Get expert care from providers you can trust.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="benefit-box">
                <h2 style="color: #ec861acb;" >5</h2>
                <h3>Upfront Pricing</h3>
                <p>No hidden fees, no surprises. Our transparent pricing ensures you know the cost before every appointment, with flexible payment options to fit your budget.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="heilight ">
                <h2 style="color: #ec861acb;" >6</h2>
                <h3>No Insurance Needed</h3>
                <p>Skip the high co-pays and surprise bills. Our pricing is up to 60% lower than traditional healthcare costs—giving you affordable, accessible care without insurance hassles.</p>
            </div>
        </div>
    </div>
    <h1 class="mt-4 fs-5 text-success ">Ready to experience hassle-free healthcare? <span style="color: #009cff!important; cursor: pointer;" (click)="redirectToDoctorSearch()"><u>Get started today with Chalice Health!</u></span></h1>
</div>
</div>
  <!-- sec3 -->
 <!-- content -->

 <footer class="mainfooter bg-white">
  <hr>
  <div class="subfooter">
    <div class="footer ">
      <div class="footer-container">
        <div class="logo-section pe-5">
          <a href="/home-page">
            <img src="../../../../assets/svg/homepage/Chalice_Health_Logo.png" alt="Chalice Health Logo">
          </a>
          <p style="color: #333333; padding-top: 20px; font-size: 16px; font-family: Arial,  sans-serif;">Quick and
            Affordable Healthcare </p>
        </div>
        <div class="footer-column mt-3 mt-md-0">
          <h3>Services</h3>
          <ul>
            <li *ngFor="let item of serviceData" (click)="redirectToServiceListing(item)"><span> <i class="fas fa-chevron-right"></i></span> {{item.categoryName}}</li>
           
          </ul>
        </div>
        <div class="footer-column">
                <h3>Popular</h3>
                <ul>
                    <li (click)="navigateToBlogContent()">
                      <span><i class="fas fa-chevron-right"></i></span> 
                       Blogs</li>
                    <!-- <li><span><i class="fas fa-chevron-right"></i></span> Partnerships</li>
                    <li><span><i class="fas fa-chevron-right"></i></span> RX Saving Card</li> -->
                    <li  (click)=" FAQS()"><span><i class="fas fa-chevron-right"></i></span> FAQs</li>
                    <li (click)="contact()"><span><i class="fas fa-chevron-right"></i></span> Contact Us</li>
                  
                </ul>
            </div>
        
        <div class="footer-column mt-3 mt-md-0">
          <h3>Social</h3>
          <ul>
            <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.facebook.com/ChalicehealthX/" target="_blank" rel="noopener noreferrer"> <i class="fab fa-facebook ms-2"></i> Facebook</a></li>
            <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.linkedin.com/company/chalicehealth/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin ms-2"></i> LinkedIn</a> </li>
            <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.instagram.com/chalicehealth/" target="_blank" rel="noopener noreferrer"> <i class="fab fa-instagram ms-2"></i> Instagram</a></li>
            <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.youtube.com/@ChaliceHealth" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube ms-2 "></i> YouTube</a> </li>
            <li><span><i class="fas fa-chevron-right"></i></span> <a href=" https://www.tiktok.com/@chalicehealth" target="_blank" rel="noopener noreferrer"><i class="fab fa-tiktok ms-2"></i> TikTok</a></li>
          </ul>
        </div>
        <!-- next -->
        <div class="footer-column mt-3 mt-md-0">
          
          <div class="">
            <h3>Join Our Community</h3>
            <p>Be the first  to know we offer deals.</p>
            <form [formGroup]="communityForm">
              <div class="subscribe-form position-relative">
    
                <input type="text" id="email" class="form-control" formControlName="email" placeholder="Enter Email"
                  [ngClass]="{'is-invalid': communityForm.get('email')?.invalid && communityForm.get('email')?.touched}">
               
                <div class="invalid-feedback position-absolute mb-3" style="top: 37px;"
                *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('required')">
                Email is required.
              </div>
              <!-- <div class="fv-plugins-message-container invalid-feedback position-absolute" style="top:37px;"
                *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('email')">
                <div>Email is not valid</div>
              </div> -->
              <div class="fv-plugins-message-container invalid-feedback d-block position-absolute" style="top:37px;"
               *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('invalidEmail')">
                 Please enter a valid email address.
              </div>
              
                <button type="submit" (click)="postJoinOurCommunity()"><i class="fas fa-envelope"></i>
                </button>
              </div>
             
            </form>
            
            <div class="d-flex justify-content-between mt-3 ">
              <img src="../../../../assets/svg/homepage/unnamed.png" width="120px" height="100px" alt="">
              <img src="../../../../assets/svg/homepage/HIPAA-logo.png" width="150px" height="80px" alt="" class="mt-2 ms-2">
            </div>
        </div>
        </div>
      </div>
      <hr class="mt-0">
      <!-- Bottom section -->
      <div class="footer-bottom d-flex flex-column flex-md-row mb-2 justify-content-center mx-auto" style="width: 85%;">
        <p class="text-nowrap mb-2 mt-mb-0  ">&copy; 2024 Chalice Health. All Rights Reserved.</p>
        <span class="w-md-75 w-100 d-flex justify-content-md-end justify-content-center cursor">
          <a (click)="redirectTotermofservice()">Term of Service</a>
          <a (click)="redirectToprivacypolicy()">Privacy Policy</a>
        </span>
      </div>
    </div>
  </div>
</footer>