<div class="d-flex flex-wrap justify-content-between align-items-center mt-3">
  <div class="d-flex flex-wrap align-items-center">
    <div class="body-regular neutral-1 me-2">Items per page</div>
    <div class="page-size me-2">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-page-size page-button mb-2" id="ddlPageSize" ngbDropdownToggle>
          {{paginator.pageSize}}
        </button>
        <div ngbDropdownMenu aria-labelledby="ddlPageSize">
          <button ngbDropdownItem (click)="onChangePageSize(5)" class="body-regular neutral-1">5</button>
          <button ngbDropdownItem (click)="onChangePageSize(10)" class="body-regular neutral-1">10</button>
          <button ngbDropdownItem (click)="onChangePageSize(50)" class="body-regular neutral-1">50</button>
          <button ngbDropdownItem (click)="onChangePageSize(100)" class="body-regular neutral-1">100</button>
        </div>
      </div>
    </div>
    <div class="me-2 text-nowrap">
      <label class="body-medium neutral-1">
        {{ ((paginator.pageNumber - 1) * paginator.pageSize) + 1 }}
        - {{ Math.min(paginator.pageNumber * paginator.pageSize, paginator.totalCount) }}
      </label>
      <span> of </span> 
      <span class="body-medium neutral-1">{{ paginator.totalCount }}</span>
    </div>
  </div>

  <div class="mt-2 mt-md-0">
    <ngb-pagination
      [collectionSize]="paginator.totalCount"
      [(page)]="paginator.pageNumber"
      [pageSize]="paginator.pageSize"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="false"
      (pageChange)="pageChange()"
      class="pagination-container"
    >
      <ng-template ngbPaginationPrevious><img src="/assets/svg/pagination-left-icon.svg" alt="Previous"/></ng-template>
      <ng-template ngbPaginationNext><img src="/assets/svg/pagination-right-icon.svg" alt="Next"/></ng-template>
    </ngb-pagination>
  </div>
</div>
