<app-header></app-header>

  <!-- cont-start -->
<div class="maincont ">
    <div class="subcont ">
        <div class="cont px-3 py-4">
            <div class="container">
                <h1 class="bold">Privacy Policy</h1>
                <h3 class="text-muted" style="font-weight: 400;">LAST UPDATED: April 1, 2024</h3>
                
                <div class="mt-4">
                    <h3>Overview</h3>
                    <p>Your access to and use of Chalice Health services, including this website (chalicehealth.com) and associated mobile applications, are governed by the Chalice Health Services Terms of Service and this Privacy Policy. This document outlines the information we collect from you, how we use it, our security measures, and your options regarding your information. Please note that this Privacy Policy pertains only to information collected through Chalice Health Services.</p>
                </div>

                <div class="mt-4">
                    <h3>Your Acceptance of This Privacy Policy and Changes to It</h3>
                    <p>By accessing or using any Chalice Health Service, you consent to the collection and use of your information as outlined in this Privacy Policy. If you disagree with this policy, please refrain from using Chalice Health Services. We reserve the right to modify this Privacy Policy without prior notice, and your continued use of our services constitutes acceptance of any changes. We encourage you to review this policy regularly for updates.</p>
                </div>
            
                <div class="mt-4">
                    <h3>What Information Do We Collect?</h3>
                    <p>We collect personally identifiable information <strong>("Personal Information")</strong> and non-individually identifiable information when you register, interact with our services, or use features on our platforms. This may include your name, email address, birth date, address, phone number, and other relevant data. Additionally, if you upload Personally Identifiable Information (PII), including Protected Health Information (PHI), we handle it according to applicable laws and regulations such as HIPAA. </p>
                    <p>We may also gather mobile device identifiers, IP addresses, and session identifiers for analytics and service improvement purposes. Our website and mobile apps may use cookies and other tracking technologies to enhance user experience and gather usage data.</p>
                </div>
                
                <div class="mt-4  Services">
                    <h3>How Do We Use Your Information?</h3>
                    <p>We use the information we collect to provide and improve our services, personalize user experience, respond to inquiries, process transactions, administer promotions, and comply with legal obligations. Additionally, we may share your information with: </p>
                <ul>
                    <li>
                        Subsidiaries, affiliates, and third-party service providers for service delivery.
                    </li>
                    <li>In the event of a business transfer, acquisition, or sale of assets.</li>
                    <li>To comply with legal requirements or protect our rights and safety.</li>
                    <li>For marketing and analytics purposes, with aggregate and non-identifiable data.</li>
                </ul>
                </div>

                <div class="mt-4  ">
                    <h3>Do We Disclose Information to Outside Parties?</h3>
                    <p>We may share Personal Information with third parties, including affiliates, service providers, and in response to legal requests or to protect our rights. We may also disclose aggregate and non-personally identifiable information for analytics and marketing purposes.</p>
                
                </div>

                <div class="mt-4  ">
                    <h3>Your Rights</h3>
                    <p>You have the right to access and update your personal information, object to the processing of your information, request the deletion of your information, subject to legal requirements, and opt-out of marketing communications.</p>
                </div>

                <div class="mt-4  ">
                    <h3>Correcting and Updating Your Personal Information</h3>
                    <p>You can update your Personal Information by re-registering or contacting us via email at <a href="mailto:info@chalicehealth.com">info&#64;chalicehealth.com</a>. Please allow up to 30 days for processing your request.</p>
                </div>
                <div class="mt-4  ">
                    <h3>"Do Not Track"</h3>
                    <p>Our services do not respond to "Do Not Track" signals.</p>
                </div>
                <div class="mt-4  ">
                    <h3>Safeguarding Your Personal Information Privacy and Third Party Links</h3>
                    <p>While we employ industry-standard security measures, we cannot guarantee absolute data security. Our Privacy Policy does not apply to third-party websites accessed through our platforms, and we are not responsible for their content or activities.</p>
                </div>
                <div class="mt-4  ">
                    <h3>Exclusions</h3>
                    <p>This Privacy Policy does not cover unsolicited information provided to us, such as product ideas or modifications. Such information is considered non-confidential and may be used without limitation.</p>
                </div>
                <div class="mt-4  ">
                    <h3>Children's Privacy</h3>
                    <p>Our services are intended for users aged 18 and above. We do not knowingly collect information from individuals under 18. If you believe a minor has provided Personal Information, please contact us for removal.</p>
                </div>

                <div class="mt-4  ">
                    <h3>Retention of Your Personal Information</h3>
                    <p>We retain your Personal Information for necessary purposes or as required by law.</p>
                </div>

                <div class="mt-4  ">
                    <h3>Questions and Feedback</h3>
                    <p>We welcome your feedback and inquiries. Please email us at <a href="mailto:info@chalicehealth.com">info&#64;chalicehealth</a>.com with any questions or concerns regarding our services.</p>
                </div>

                <div class="mt-4  ">
                    <h3>YOUR CALIFORNIA PRIVACY RIGHTS</h3>
                    <p>California residents may opt out of having their personal information sold to third parties for direct marketing purposes. Additionally, they have the right to request information about data collected and request deletion of personal information. To exercise these rights, contact us at <a href="mailto:info@chalicehealth.com">info&#64;chalicehealth.com</a>. We will respond within the timeframes outlined in the CCPA. </p>
                </div>

                <div class="mt-4  ">
                    <h3>
                        Changes to This Privacy Policy
                        </h3>
                    <p>We may update this Privacy Policy periodically, and your continued use of our services constitutes acceptance of any changes. For questions about this policy, contact Chalice Health’s Data Protection Officer at <a href="mailto:info@chalicehealth.com">info&#64;chalicehealth.com</a>.</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="mainfooter bg-white">
      <hr>
      <div class="subfooter">
        <div class="footer ">
          <div class="footer-container">
            <div class="logo-section pe-5">
              <a href="/home-page">
                <img src="../../../../assets/svg/homepage/Chalice_Health_Logo.png" alt="Chalice Health Logo">
              </a>
              <p style="color: #333333; padding-top: 20px; font-size: 16px; font-family: Arial,  sans-serif;">Quick and
                Affordable Healthcare </p>
            </div>
            <div class="footer-column mt-3 mt-md-0">
              <h3>Services</h3>
              <ul>
                <li *ngFor="let item of serviceData" (click)="redirectToServiceListing(item)"><span> <i class="fas fa-chevron-right"></i></span> {{item.categoryName}}</li>
               
              </ul>
            </div>
            <div class="footer-column">
                    <h3>Popular</h3>
                    <ul>
                        <li (click)="navigateToBlogContent()">
                          <span><i class="fas fa-chevron-right"></i></span> 
                           Blogs</li>
                        <!-- <li><span><i class="fas fa-chevron-right"></i></span> Partnerships</li>
                        <li><span><i class="fas fa-chevron-right"></i></span> RX Saving Card</li> -->
                        <li  (click)=" FAQS()"><span><i class="fas fa-chevron-right"></i></span> FAQs</li>
                        <li (click)="contact()"><span><i class="fas fa-chevron-right"></i></span> Contact Us</li>
                      
                    </ul>
                </div>
            
            <div class="footer-column mt-3 mt-md-0">
              <h3>Social</h3>
              <ul>
                <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.facebook.com/ChalicehealthX/" target="_blank" rel="noopener noreferrer"> <i class="fab fa-facebook ms-2"></i> Facebook</a></li>
                <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.linkedin.com/company/chalicehealth/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin ms-2"></i> LinkedIn</a> </li>
                <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.instagram.com/chalicehealth/" target="_blank" rel="noopener noreferrer"> <i class="fab fa-instagram ms-2"></i> Instagram</a></li>
                <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.youtube.com/@ChaliceHealth" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube ms-2 "></i> YouTube</a> </li>
                <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.tiktok.com/@chalicehealth" target="_blank" rel="noopener noreferrer"><i class="fab fa-tiktok ms-2"></i> TikTok</a></li>
              </ul>
            </div>
            <!-- next -->
            <div class="footer-column mt-3 mt-md-0">
              
              <div class="">
                <h3>Join Our Community</h3>
                <p>Be the first  to know we offer deals.</p>
                <form [formGroup]="communityForm">
                  <div class="subscribe-form position-relative">
        
                    <input type="text" id="email" class="form-control" formControlName="email" placeholder="Enter Email"
                      [ngClass]="{'is-invalid': communityForm.get('email')?.invalid && communityForm.get('email')?.touched}">
                   
                    <div class="invalid-feedback position-absolute mb-3" style="top: 37px;"
                    *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('required')">
                    Email is required.
                  </div>
                  <!-- <div class="fv-plugins-message-container invalid-feedback position-absolute" style="top:37px;"
                    *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('email')">
                    <div>Email is not valid</div>
                  </div> -->
                  <div class="fv-plugins-message-container invalid-feedback d-block position-absolute" style="top:37px;"
                   *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('invalidEmail')">
                     Please enter a valid email address.
                  </div>
                  
                    <button type="submit" (click)="postJoinOurCommunity()"><i class="fas fa-envelope"></i>
                    </button>
                  </div>
                 
                </form>
                
                <div class="d-flex justify-content-between mt-3 ">
                  <img src="../../../../assets/svg/homepage/unnamed.png" width="120px" height="100px" alt="">
                  <img src="../../../../assets/svg/homepage/HIPAA-logo.png" width="150px" height="80px" alt="" class="mt-2 ms-2">
                </div>
            </div>
            </div>
          </div>
          <hr class="mt-0">
          <!-- Bottom section -->
          <div class="footer-bottom d-flex flex-column flex-md-row mb-2 justify-content-center mx-auto" style="width: 85%;">
            <p class="text-nowrap mb-2 mt-mb-0  ">&copy; 2024 Chalice Health. All Rights Reserved.</p>
            <span class="w-md-75 w-100 d-flex justify-content-md-end justify-content-center cursor">
              <a (click)="redirectTotermofservice()">Term of Service</a>
              <a (click)="redirectToprivacypolicy()">Privacy Policy</a>
            </span>
          </div>
        </div>
      </div>
    </footer>
</div>
  <!-- cont-start -->