<section class="main-banner">
  <div class="wrapper d-flex">
      <div class="content-wrapper">
          <div class="bg-white rounded plan generate-content-table mt-2 p-4">
              <h2 class="text-center"> Dashboard</h2>
              <div class="row mb-1">
                    <!-- Summary Section -->
                    <div class="row g-2">
                      <div class="col-md-4">
                        <div class="summary-card">
                          <div class="summary-title">Total Patients</div>
                          <div class="summary-description">
                            Total no. of patients 
                          </div>
                          <div class="summary-value">{{totalAmount?.totalPatient}}</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="summary-card">
                          <div class="summary-title">Total Providers</div>
                          <div class="summary-description">
                              Total no. of providers
                          </div>
                          <div class="summary-value">{{totalAmount?.totalProvider}}</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="summary-card">
                          <div class="summary-title">Total Appointments</div>
                          <div class="summary-description">
                            Total no. of appointments
                          </div>
                          <div class="summary-value">{{totalAmount?.totalAppointment}}</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-2 mt-5">
                      <select class="form-select form-select-sm cursor mt-1" (change)="onChange($event, 'year')">
                        <option value="" disabled>Select</option>
                        <option *ngFor="let option of yearOptions" [value]="option" [selected]="option === currentYear">
                          {{ option }}
                        </option>
                      </select>
                    </div>
                    
                    <!-- <div class="col-sm-3">
                      <select class="form-select form-select-sm cursor mt-1" (change)="onChange($event, 'facility')">
                        <option *ngFor="let facility of facilityData" [value]="facility.id">
                          {{ facility.facilityName }}
                        </option>
                      </select>
                    </div> -->
                    
                    
                        
              </div>
              <div class="chart-container cursor pb-3">
                  <canvas class="chart-container" baseChart [datasets]="barChartData" [labels]="barChartLabels2"
                      [options]="barChartOptions2">
                  </canvas>
              </div>
              <!-- <div class="row mt-4">
                  <div class="col-md-6">
                      <canvas baseChart [datasets]="barChartData1" [labels]="barChartLabels"
                          [options]="barChartOptions" [legend]="barChartLegend" class="barChart mb-4">
                      </canvas>
                  </div>

                  <div class="col-md-6">
                      <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels"
                          [options]="barChartOptions" [legend]="barChartLegend" class="barChart mb-4">
                      </canvas>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
</section>