.close-icon {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    font-size: 2rem;
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
  }
  
  li {
    padding: 10px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #f0f0f0;
    color: black !important;
  }
  textarea {
    height: 2rem !important;
  }
  label{
    margin-top: 15px!important;
}
 
 
  