<app-header></app-header>
<div style="background-color:#badad260;">
  
      <div class="yes container py-5" [@fadeIn] [@slideInTop] >
        <div class="">
            <h2 class="pt-0 fw-bold text-start" style="font-size: 36px; color: #ec861acb;">Find a Doctor By Specialty</h2>
        <p>Select a specialty below to discover local healthcare providers, explore patient reviews, and book your appointment today.</p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3">
          <div class="col" *ngFor="let item of speciality">
            <div class="specialty-card d-flex justify-content-between align-items-center cursor"  (click)="searchDoctor(item.name)">
                <span class="cursor" (click)="searchDoctor(item.name)">{{ item.name }}</span>
                <i class="fas fa-arrow-right cursor" (click)="searchDoctor(item.name)"></i>
            </div>
        </div>
        
</div>

       
    </div>
    <footer class="mainfooter bg-white">
      <hr>
      <div class="subfooter">
        <div class="footer ">
          <div class="footer-container">
            <div class="logo-section pe-5">
              <a href="/home-page">
                <img src="../../../../assets/svg/homepage/Chalice_Health_Logo.png" alt="Chalice Health Logo">
              </a>
              <p style="color: #333333; padding-top: 20px; font-size: 16px; font-family: Arial,  sans-serif;">Quick and
                Affordable Healthcare </p>
            </div>
            <div class="footer-column mt-3 mt-md-0">
              <h3>Services</h3>
              <ul>
                <li *ngFor="let item of serviceData" (click)="redirectToServiceListing(item)"><span> <i class="fas fa-chevron-right"></i></span> {{item.categoryName}}</li>
               
              </ul>
            </div>
            <div class="footer-column">
                    <h3>Popular</h3>
                    <ul>
                        <li (click)="navigateToBlogContent()">
                          <span><i class="fas fa-chevron-right"></i></span> 
                           Blogs</li>
                       
                        <li  (click)=" FAQS()"><span><i class="fas fa-chevron-right"></i></span> FAQs</li>
                        <li (click)="contact()"><span><i class="fas fa-chevron-right"></i></span> Contact Us</li>
                       
                    </ul>
                </div>
            
            <div class="footer-column mt-3 mt-md-0">
              <h3>Social</h3>
              <ul>
                <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.facebook.com/ChalicehealthX/" target="_blank" rel="noopener noreferrer"> <i class="fab fa-facebook ms-2"></i> Facebook</a></li>
                <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.linkedin.com/company/chalicehealth/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin ms-2"></i> LinkedIn</a> </li>
                <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.instagram.com/chalicehealth/" target="_blank" rel="noopener noreferrer"> <i class="fab fa-instagram ms-2"></i> Instagram</a></li>
                <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.youtube.com/@ChaliceHealth" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube ms-2 "></i> YouTube</a> </li>
                <li><span><i class="fas fa-chevron-right"></i></span> <a href=" https://www.tiktok.com/@chalicehealth" target="_blank" rel="noopener noreferrer"><i class="fab fa-tiktok ms-2"></i> TikTok</a></li>
              </ul>
            </div>
            <!-- next -->
            <div class="footer-column mt-3 mt-md-0">
              
              <div class="">
                <h3>Join Our Community</h3>
                <p>Be the first  to know we offer deals.</p>
                <form [formGroup]="communityForm">
                  <div class="subscribe-form position-relative">
        
                    <input type="text" id="email" class="form-control" formControlName="email" placeholder="Enter Email"
                      [ngClass]="{'is-invalid': communityForm.get('email')?.invalid && communityForm.get('email')?.touched}">
                   
                    <div class="invalid-feedback position-absolute mb-3" style="top: 37px;"
                    *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('required')">
                    Email is required.
                  </div>
                  <!-- <div class="fv-plugins-message-container invalid-feedback position-absolute" style="top:37px;"
                    *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('email')">
                    <div>Email is not valid</div>
                  </div> -->
                  <div class="fv-plugins-message-container invalid-feedback d-block position-absolute" style="top:37px;"
                   *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('invalidEmail')">
                     Please enter a valid email address.
                  </div>
                  
                    <button type="submit" (click)="postJoinOurCommunity()"><i class="fas fa-envelope"></i>
                    </button>
                  </div>
                 
                </form>
                
                <div class="d-flex justify-content-between mt-3 ">
                  <img src="../../../../assets/svg/homepage/unnamed.png" width="120px" height="100px" alt="">
                  <img src="../../../../assets/svg/homepage/HIPAA-logo.png" width="150px" height="80px" alt="" class="mt-2 ms-2">
                </div>
            </div>
            </div>
          </div>
          <hr class="mt-0">
          <!-- Bottom section -->
          <div class="footer-bottom d-flex flex-column flex-md-row mb-2 justify-content-center mx-auto" style="width: 85%;">
            <p class="text-nowrap mb-2 mt-mb-0  ">&copy; 2024 Chalice Health. All Rights Reserved.</p>
            <span class="w-md-75 w-100 d-flex justify-content-md-end justify-content-center cursor">
              <a (click)="redirectTotermofservice()">Term of Service</a>
              <a (click)="redirectToprivacypolicy()">Privacy Policy</a>
            </span>
          </div>
        </div>
      </div>
    </footer>