<app-header></app-header>



  <div class="container mt-4">
<div id="blogSlider" class="carousel slide" data-bs-ride="carousel" data-bs-interval="20000">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let group of pagedBlogs; let i = index" [class.active]="i === currentIndex">
          <div class="d-flex justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 px-2" *ngFor="let item of group">
              <div class="card blog-card h-100 d-flex flex-column cursor" (click)="redirectToBlogComments(item.id)">
                <img *ngIf="item.postFileUrl" [src]="item.postFileUrl" alt="Blog Image" class="card-img-top" />
                <img *ngIf="!item.postFileUrl" [src]="'../../../../assets/svg/bydefault.png'" alt="Blog Image" class="card-img-top" />
  
                <div class="card-body">
                  <span>
                    <a class="blog-category cursor bg-success" style="font-size: 16px;" (click)="redirectToBlogComments(item.id)">
                      {{ item.heading }}
                    </a>
                  </span>
                  <h2 class="card-title mt-2 mb-1" style="line-height: 20px;" *ngIf="item.title; else noTitle">
                    <span *ngIf="!item.showFullText1">{{ getShortText1(item.title) }}</span>
                    <span *ngIf="item.showFullText1">{{ item.title }}</span>
                    <a *ngIf="isTextLongerThanMaxLength1(item.title)" (click)="toggleFullText1(item)" style="color: #5885af; cursor: pointer; font-size: 12px;">
                      {{ item.showFullText1 ? 'Read Less' : 'Read More' }}
                    </a>
                  </h2>
                  <ng-template #noTitle>-----</ng-template>
  
                  <p class="card-text  read-more-less" *ngIf="item.content; else noContent">
                    <span *ngIf="!item.showFullText">{{ getShortText(item.content) }}</span>
                    <span *ngIf="item.showFullText">{{ item.content }}</span>
                    <a *ngIf="isTextLongerThanMaxLength(item.content)" (click)="toggleFullText(item)" style="color: #5885af; cursor: pointer;">
                      {{ item.showFullText ? 'Read Less' : 'Read More' }}
                    </a>
                  </p>
                  <ng-template #noContent>-----</ng-template>
                  <hr />
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="col-11 blog-meta">By {{ item.userName }}</p>
                    <span class="col-1">
                      <!-- <i class="fas fa-arrow-right icon-arrow-right"></i> -->
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev slider-btn text-center" style="background-color: #00876f;" type="button" (click)="prevSlide()">
        <span class="carousel-control-prev-icon" style="width: 25px;"></span>
      </button>
      <button class="carousel-control-next slider-btn text-center" type="button" (click)="nextSlide()">
        <span class="carousel-control-next-icon" style="width: 25px;"></span>
      </button>
    </div>
  </div>

  



  <footer class="mainfooter bg-white">
    <hr>
    <div class="subfooter">
      <div class="footer ">
        <div class="footer-container">
          <div class="logo-section pe-5">
            <a href="/home-page">
              <img src="../../../../assets/svg/homepage/Chalice_Health_Logo.png" alt="Chalice Health Logo">
            </a>
            <p style="color: #333333; padding-top: 20px; font-size: 16px; font-family: Arial,  sans-serif;">Quick and
              Affordable Healthcare </p>
          </div>
          <div class="footer-column mt-3 mt-md-0">
            <h3>Services</h3>
            <ul>
              <li *ngFor="let item of serviceData" (click)="redirectToServiceListing(item)"><span> <i class="fas fa-chevron-right"></i></span> {{item.categoryName}}</li>
             
            </ul>
          </div>
          <div class="footer-column">
                  <h3>Popular</h3>
                  <ul>
                      <li (click)="navigateToBlogContent()">
                        <span><i class="fas fa-chevron-right"></i></span> 
                         Blogs</li>
                      <!-- <li><span><i class="fas fa-chevron-right"></i></span> Partnerships</li>
                      <li><span><i class="fas fa-chevron-right"></i></span> RX Saving Card</li> -->
                      <li  (click)=" FAQS()"><span><i class="fas fa-chevron-right"></i></span> FAQs</li>
                      <li (click)="contact()"><span><i class="fas fa-chevron-right"></i></span> Contact Us</li>
                      
                  </ul>
              </div>
          
          <div class="footer-column mt-3 mt-md-0">
            <h3>Social</h3>
            <ul>
              <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.facebook.com/ChalicehealthX/" target="_blank" rel="noopener noreferrer"> <i class="fab fa-facebook ms-2"></i> Facebook</a></li>
              <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.linkedin.com/company/chalicehealth/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin ms-2"></i> LinkedIn</a> </li>
              <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.instagram.com/chalicehealth/" target="_blank" rel="noopener noreferrer"> <i class="fab fa-instagram ms-2"></i> Instagram</a></li>
              <li><span><i class="fas fa-chevron-right"></i></span> <a href="https://www.youtube.com/@ChaliceHealth" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube ms-2 "></i> YouTube</a> </li>
              <li><span><i class="fas fa-chevron-right"></i></span> <a href=" https://www.tiktok.com/@chalicehealth" target="_blank" rel="noopener noreferrer"><i class="fab fa-tiktok ms-2"></i> TikTok</a></li>
            </ul>
          </div>
          <!-- next -->
          <div class="footer-column mt-3 mt-md-0">
            
            <div class="">
              <h3>Join Our Community</h3>
              <p>Be the first  to know we offer deals.</p>
              <form [formGroup]="communityForm">
                <div class="subscribe-form position-relative">
      
                  <input type="text" id="email" class="form-control" formControlName="email" placeholder="Enter Email"
                    [ngClass]="{'is-invalid': communityForm.get('email')?.invalid && communityForm.get('email')?.touched}">
                 
                  <div class="invalid-feedback position-absolute mb-3" style="top: 37px;"
                  *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('required')">
                  Email is required.
                </div>
                <!-- <div class="fv-plugins-message-container invalid-feedback position-absolute" style="top:37px;"
                  *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('email')">
                  <div>Email is not valid</div>
                </div> -->
                <div class="fv-plugins-message-container invalid-feedback d-block position-absolute" style="top:37px;"
                 *ngIf="communityForm.get('email')?.touched && communityForm.get('email')?.hasError('invalidEmail')">
                   Please enter a valid email address.
                </div>
                
                  <button type="submit" (click)="postJoinOurCommunity()"><i class="fas fa-envelope"></i>
                  </button>
                </div>
               
              </form>
              
              <div class="d-flex justify-content-between mt-3 ">
                <img src="../../../../assets/svg/homepage/unnamed.png" width="120px" height="100px" alt="">
                <img src="../../../../assets/svg/homepage/HIPAA-logo.png" width="150px" height="80px" alt="" class="mt-2 ms-2">
              </div>
          </div>
          </div>
        </div>
        <hr class="mt-0">
        <!-- Bottom section -->
        <div class="footer-bottom d-flex flex-column flex-md-row mb-2 justify-content-center mx-auto" style="width: 85%;">
          <p class="text-nowrap mb-2 mt-mb-0  ">&copy; 2024 Chalice Health. All Rights Reserved.</p>
          <span class="w-md-75 w-100 d-flex justify-content-md-end justify-content-center cursor">
            <a (click)="redirectTotermofservice()">Term of Service</a>
            <a (click)="redirectToprivacypolicy()">Privacy Policy</a>
          </span>
        </div>
      </div>
    </div>
  </footer>