.thankyou-card {
    width: 33rem;
    height: 27.6rem;
    padding: 20px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.thankyou {
    text-align: center;
    margin-top: 2rem;
}
h2 {
    margin-bottom: 1px;
}

h5 {
    margin-top: 1px;
    margin-bottom: 15px;
}


