
.close-icon {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    font-size: 2rem;
    /* color:  #00876f; */
}

label .fa-question-circle {
    font-size: 1.1rem; 
    margin-left: 10px;
    cursor: pointer;
}


.tooltip {
    border: none !important; 
    background-color: rgba(0, 0, 0, 0.8) !important; 
    padding: 5px 10px; 

}

.tooltip .tooltip-inner {
    color: white !important; 
    border: none !important; 
    overflow: auto;
}



.hover-effect:hover {
    color: white;
    background-color: #004ab9;
}

.roleDropdwon {
    margin-left: 0.5rem;
    margin-top: 4%;
    /* font-family: inherit;
    font-size: 3rem; */
}


.dp-pd-l {
    text-align: left;
    background-color: #f8f8f8;
    padding-left: 7px !important;
}

.custom-dropdown {
    width: 100%;
}
.small-input {
    padding-top: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 5px !important;
}
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px; 
    /* text-align: left;  */
    border-bottom: 1px solid #ddd; 
}

table thead th {
    background: linear-gradient(#00b094, #008f78) !important; 
    color: white !important;; 
    text-align: center;
    padding: 12px;
    font-weight: bold; 
  }

.table tbody tr:hover {
    background-color: #f1f1f1; 
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    font-size: 2rem;
    /* color: #00876f; */
}

label .fa-question-circle {
    font-size: 1.1rem; 
    margin-left: 10px;
    cursor: pointer;
}

.tooltip {
    border: none !important; 
    background-color: rgba(0, 0, 0, 0.8) !important; 
    padding: 5px 10px; 
}

.tooltip .tooltip-inner {
    color: white !important; 
    border: none !important; 
    overflow: auto;
}

.hover-effect:hover {
    color: white;
    background-color: #004ab9;
}

.roleDropdwon {
    margin-left: 0.5rem;
    margin-top: 4%;
}

.dp-pd-l {
    text-align: left;
    background-color: #f8f8f8;
    padding-left: 7px !important;
}

.custom-dropdown {
    width: 100%;
}

.small-input {
    padding: 5px !important;
}

.custom-dropdown {
    width: 14rem !important;
    box-shadow: none !important;
    margin-left: -15% !important;
    justify-items: center !important;
  }


  @media (max-width: 576px) {
    .custom-dropdown{
        margin-left: 0px!important;
      }
  }

  label{
    margin-top: 15px!important;
}