<section class="main-banner">
  <div class="wrapper d-flex">
    <div class="content-wrapper">
      <div class="appointment-card py-2 px-4">
        <div class="d-flex">
          <h3>Book Appointment</h3>
          <i class="fa fa-arrow-circle-left pt-0 ms-auto " (click)="goBack()"
            style="color: #00876ee4; font-size: 38px; cursor: pointer; transition: transform 0.3s ease; float: right;"></i>
        </div>
        <div class="appointment-form">
          <form [formGroup]="appointmentForm">
            <div class="row companyContent mt-2 ">
              <div class="col-12 col-sm-12 col-md-6 mb-2">
                <label for="appointment">Who is this appointment for?<span class="red">*</span></label>
                <select class="form-select form-select-sm cursor mt-1" formControlName="prefix"
                  [ngClass]="{'is-invalid': appointmentForm.get('prefix')?.invalid &&  appointmentForm.get('prefix')?.touched}">
                  <option value="" disabled selected>Select</option>
                  <option value=1> Me </option>
                  <option value=2> For someone else </option>
                </select>
                <div class="invalid-feedback"
                  *ngIf="appointmentForm.get('prefix')?.touched && appointmentForm.get('prefix')?.hasError('required')">
                  Who is this appointment for is required.
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 mb-2" *ngIf="appointmentForm.get('relationshipType')?.enabled">
                <label>Relationship <span class="red">*</span></label>
                <select class="form-select form-select-sm cursor mt-1" formControlName="relationshipType"
                  (change)="getBookAppointment()"
                  [ngClass]="{'is-invalid': appointmentForm.get('relationshipType')?.invalid &&  appointmentForm.get('relationshipType')?.touched}">
                  <option value="" disabled selected>Select</option>
                  <option value=1>Father</option>
                  <option value=2>Mother</option>
                  <option value=3>Brother</option>
                  <option value=4>Sister</option>
                  <option value=5>Son</option>
                  <option value=6>Daughter</option>
                  <option value=7>Uncle</option>
                  <option value=8>Friend</option>
                </select>
                <div class="invalid-feedback"
                  *ngIf="appointmentForm.get('relationshipType')?.touched && appointmentForm.get('relationshipType')?.hasError('required')">
                  Relationship is required.
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="form-group col-12 col-sm-12 col-md-6 mb-3">
                <label for="fullName">Full Name <span class="red">*</span> </label>
                <input type="text" id="fullName" class="form-control form-control-sm mt-1" formControlName="fullName"
                  [ngClass]="{'is-invalid': appointmentForm.get('fullName')?.invalid && appointmentForm.get('fullName')?.touched}">
                <div class="invalid-feedback"
                  *ngIf="appointmentForm.get('fullName')?.touched && appointmentForm.get('fullName')?.hasError('required')">
                  Full Name is required.
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 mb-3">
                <label for="dob"> Date of Birth <span class="red">*</span> </label>
                <input type="date" id="dob" class="form-control form-control-sm mt-1" formControlName="dob"
                  [ngClass]="{'is-invalid': appointmentForm.get('dob')?.invalid && appointmentForm.get('dob')?.touched}">
                <div class="invalid-feedback"
                  *ngIf="appointmentForm.get('dob')?.touched && appointmentForm.get('dob')?.hasError('required')">
                  Date of Birth is required.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 mb-3">
                <label for="gender">Gender<span class="red">*</span></label>
                <select class="form-select form-select-sm cursor mt-1" formControlName="gender"
                  [ngClass]="{'is-invalid': appointmentForm.get('gender')?.invalid &&  appointmentForm.get('gender')?.touched}">
                  <option value="" disabled selected>Select</option>
                  <option value=1>Male</option>
                  <option value=2>Female</option>
                  <option value=3>Other</option>
                </select>
                <div class="invalid-feedback"
                  *ngIf="appointmentForm.get('gender')?.touched && appointmentForm.get('gender')?.hasError('required')">
                  Gender is required.
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 mb-3">
                <label for="email">Email <span class="red">*</span></label>
                <input type="text" id="email" class="form-control form-control-sm mt-1" formControlName="email"
                  placeholder="Enter Email"
                  [ngClass]="{'is-invalid': appointmentForm.get('email')?.invalid && appointmentForm.get('email')?.touched}">
                <div class="invalid-feedback"
                  *ngIf="appointmentForm.get('email')?.touched && appointmentForm.get('email')?.hasError('required')">
                  Email is required.
                </div>
                <div class="fv-plugins-message-container invalid-feedback d-block"
                  *ngIf="appointmentForm.get('email')?.touched && appointmentForm.get('email')?.hasError('email')">
                  Email is not valid.
                </div>
              </div>

            </div>
            <div class="row mt-2">
              <div class="col-12 col-sm-12 col-md-6 ">
                <label class="form-label mb-0" for="meetingType">Meeting Type <span class="red">*</span></label>
                <div class="radio-group okk row">
                  <div class="col-12 col-md-4" *ngIf="servicePrice.telehealthVisitPrice">
                    <label class="w-100  rounded px-1 py-3 d-flex align-items-center gap-2">
                      <input
                        type="radio"
                        id="meetingTypeVirtual"
                        formControlName="meetingType"
                        [value]="1"
                        (change)="setConsultationFee(1)"
                        class="form-check-input"
                      />
                      <span>Telehealth <b>({{ servicePrice.telehealthVisitPrice | currency: 'USD' }})</b></span>
                    </label>
                  </div>
                 
                  <div class="col-12 col-md-4" *ngIf="servicePrice.officeVisitPrice">
                    <label class="w-100  rounded px-0 py-3 d-flex align-items-center gap-2">
                      <input
                        type="radio"
                        id="meetingTypeInPersonVisit"
                        formControlName="meetingType"
                        [value]="2"
                        (change)="setConsultationFee(2)"
                        class="form-check-input"
                      />
                      <span>Office Visit <b>({{ servicePrice.officeVisitPrice | currency: 'USD' }})</b></span>
                    </label>
                  </div>
                 
                  <div class="col-12   col-md-4" *ngIf="servicePrice.inHomeVisitPrice">
                    <label class="w-100  rounded px-0 py-3 d-flex align-items-center gap-2">
                      <input
                        type="radio"
                        id="meetingTypeHomeCareVisit"
                        formControlName="meetingType"
                        [value]="3"
                        (change)="setConsultationFee(3)"
                        class="form-check-input"
                      />
                      <span>Home Visit <b>({{ servicePrice.inHomeVisitPrice | currency: 'USD' }})</b></span>
                    </label>
                  </div>
                </div>
                 
              </div>
              
              <div class="col-12 col-sm-12 col-md-6">
                <div class="form-group okk">
                  <label class="border-0" for="fileName">Upload Document</label>
                  <input type="file" id="document" class="form-control form-control-sm mt-1 small-input"
                    formControlName="document"
                    [ngClass]="{'is-invalid': appointmentForm.get('document')?.invalid && appointmentForm.get('document')?.touched}"
                    (change)="onProfileSelected($event)">
                  <div class="invalid-feedback"
                    *ngIf="appointmentForm.get('document')?.touched && appointmentForm.get('document')?.hasError('required')">
                    Upload Document is required.
                  </div>
                </div>
                <div *ngIf="!showEditTimeFile" style="margin-top : -4%">
                  <div class="file-name" *ngIf="editProfilePicture != null">
                    <span class="cursor"
                      (click)="downloadFile(editProfilePicture.filePath)">{{editProfilePicture.fileName}}</span>
                    <a (click)="deleteDocument(editProfilePicture)"> <i class="fa-solid fa-trash ms-2 cursor"
                        style="color:rgb(166, 7, 7);"></i></a><br>
                  </div>
                </div>
              </div>
            </div>
            <div class="cancellation-policy-container cursor">
              <a (click)="redirectTotermofservice()" class="cancellation-link">View Cancellation Policy</a>
            </div>
            <div class="row mt-4">
              <div class="form-group col-md-12 mt-3">
                <label for="reasonForVisit">Reason for Visit <span class="red">*</span></label>
                <textarea id="reasonForVisit" class="form-control form-control-sm mt-1" formControlName="reasonForVisit"
                  [ngClass]="{'is-invalid': appointmentForm.get('reasonForVisit')?.invalid && appointmentForm.get('reasonForVisit')?.touched}"></textarea>
                <div class="invalid-feedback"
                  *ngIf="appointmentForm.get('reasonForVisit')?.touched && appointmentForm.get('reasonForVisit')?.hasError('required')">
                  Reason for Visit is required.
                </div>
                <div class="invalid-feedback"
                  *ngIf="appointmentForm.get('reasonForVisit')?.touched && appointmentForm.get('reasonForVisit')?.hasError('pattern')">
                  Reason for Visit cannot be empty or only spaces.
                </div>
              </div>
            </div>
            <div class="row mt-2 align-items-center">
              <!-- Slot Details Text -->
              <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column flex-sm-row flex-wrap">
                <h2 class="mb-2 me-2" style="font-weight: 600;">Appointment Time:</h2>
                <p class="text-muted mb-1 mb-sm-0 ms-0 ms-sm-1">
                  <span style="font-size: medium;">{{ formatDate }}</span>
                  <span class="time-slot ms-sm-3 d-inline-block mt-1 mt-sm-0">{{ formatTime }}</span>
                  <span class="modifyAppointmentBtn ms-sm-3 d-inline-block mt-1 mt-sm-0" (click)="bookNewSlot()">Pick New Time</span>
                </p>
              </div>          
              <!-- Fees Section -->
              <div>
                <div class="row mt-1">
                  <div class="col-sm-12 d-flex flex-wrap align-items-center">
                    <b style="font-size: large; color: black;">Consultation Fees
                      <div class="circle cursor ms-2" (mouseenter)="onHover(true)" 
                        (mouseleave)="onHover(false)" >
                        <span>&#161;</span>
                      </div>
                    </b>
                    <b class="ms-4 mt-2 mt-sm-0">{{ selectedFee | currency:'USD' }}</b>
                  </div>
                </div>
              </div>
            </div>
 
            <div *ngIf="isHovered" class="popup mt-5">
              <div class="popup-content">
                <h3 class="mb-0">What's Included?</h3>
                <hr class="mt-0">
                <div class="row">
                  <div class="col-sm-8">
                    <b>Provider Fee </b>
                  </div>
                  <div class="col-sm-4">
                   <b>{{amountBreakdown.providerPrice | currency:'USD'}}</b> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <b>Service Fee </b>
                  </div>
                  <div class="col-sm-4">
                   <b>{{amountBreakdown.applicationFee | currency:'USD'}}</b> 
                  </div>
                </div>
                
              </div>
            </div>
            <div class="row justify-content-end">
             
              <div class="col-md-3 col-sm-6 ">
                
                <button *ngIf="!appointmentId" type="submit" class="btn custom-padding mb-3"
                          style="background-color: #00876F!important;" (click)="postBookAppointment()">
                          <i class="fas" [ngClass]="{'fa-spinner fa-spin': loading}"></i>
                          <span *ngIf="!loading" class="space">Book Appointment</span>
                          <span *ngIf="loading" class="space">Book Appointment</span>
                        </button>



                        <button *ngIf="appointmentId"  type="submit" class="btn custom-padding mb-3"
                        style="background-color: #00876F!important;" (click)="postBookAppointment()">
                        <i class="fas" [ngClass]="{'fa-spinner fa-spin': loading}"></i>
                        <span *ngIf="!loading" class="space">Reschedule Appointment</span>
                        <span *ngIf="loading" class="space">Reschedule Appointment</span>
                      </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>