body, html {
    background-color: #f0f4f7;
    font-family: 'Roboto', sans-serif;
}

.main {
     padding-top: 1rem; 
}
mat-form-field {
    transition: all 0.3s ease-in-out;
  }
  
  mat-form-field:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
.profile-container {
    /* width: 75%;
    max-width: 1100px; */
    width:100%;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.tab .serve1, .serve{
    text-align: center;
    cursor:pointer;
    border-bottom: 3px solid #00876f;
    width: 90%;
    padding-bottom: 7px;
}
/* .rounded-circle {
    border: 2px solid #adb5bd;
} */

h1, h2, h4 {
    color: black;
    /* font-weight: 500;
    font-size: 20px; */
    font-weight: 500 !important;
    font-size: 20px;
}

.text-muted {
    color: #6c757d !important;
    font-size: 18px!important;
}

.btn-outline-secondary {
    border-color: #4B9DAA;
    color: #016387c2;
    border-radius: 25px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-secondary:hover {
    background-color: #4B9DAA;
    color: white;
}

.description {
    text-align: justify;
}

.review-section .review-text {
    font-style: italic;
    color: #4B9DAA;
}

.overall-rating .rating-stars {
    display: flex;
    align-items: center;
}


.specialties h4, .consultation-fee h4, .description h4 {
    color: black;
    font-weight: 500;
}

.border {
    border-color: #016387c2 !important;
}

.text-center img {
    border:1px solid #d0d0d0;
}

.btn-primary {
    background-color: #016387c2;
    border-color: #016387c2;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #4B9DAA;
    border-color: #4B9DAA;
}

.review-section h5 {
    color: #016387c2;
}
.review-section img {
    border: 2px solid #016387c2!important;
}

.text-muted {
    color: black!important;
}


.box-shadow {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.info-card {
    border: none; 
    border-radius: 10px;
    background-color: #f8f9fa; 
    transition: transform 0.3s ease-in-out; 
}

.info-card .icon {
    font-size: 24px;
    color: #28a745; 
}

.info-card h4 {
    font-weight: 600;
    margin-bottom: 8px;
    color: #343a40; 
}

.info-card p {
    font-size: 14px;
    margin-bottom: 0;
}

.info-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}


.carousel {
    width: 100%;
    max-width: 100%; 
    margin: 0 auto;
}

.carousel-item {
    padding: 20px;
}

.date {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.see-more {
    color:  #006f59;
    border: none;
    padding: 8px 15px;
    font-size: 1.3rem;
    font-weight : 500;
    left : 50%!important;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.carousel-control-prev-icon {
   background-color: #006f59;
   height : 30px!important;
   width : 30px!important;
   margin-right : 8px!important;
   border-radius : 17px!important;
}

.carousel-control-next-icon {
   background-color: #006f59;
   height : 30px!important;
   width : 30px!important;
   margin-left: 8px!important;
   border-radius: 17px!important;
}
.carousel-control-prev{
margin-left: -30px!important;    
}
.carousel-control-next{
    margin-right:-30px!important ;
}
.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    background-color: #006f59;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 40%;
    transform: translateY(-50%);
  
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #00876F!important;
    --mat-tab-header-disabled-ripple-color: #00876F;
    --mat-tab-header-pagination-icon-color: #000;
    --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-active-label-text-color: #00876F;
    --mat-tab-header-active-ripple-color: #00876F;
    --mat-tab-header-inactive-ripple-color:#00876F;
    --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-active-focus-label-text-color: #00876F;
    --mat-tab-header-active-hover-label-text-color: #00876F;
    --mat-tab-header-active-focus-indicator-color: #00876F!important;
    --mat-tab-header-active-hover-indicator-color: #00876F  !important;
  }
  


  .default-user-icon {
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 60px; 
    border: 1px solid #00876f; 
    border-radius: 50%; 
    background-color: #f0f0f0; 
  }
  .mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.85; 
    display: flex;
    flex-direction: row !important; 
    align-items: center; 
    min-width: 10%; 
    text-align: left;
    margin-bottom: 10px !important;
    padding: 8px; 
    border-radius: 5px; 
}

.mat-mdc-form-field input {
    flex: 1; 
    border: none; 
    outline: none;
    font-size: 16px;
}

.mat-mdc-form-field .mat-datepicker-toggle {
    color: #ff6600; 
    font-size: 20px; 
    cursor: pointer; 
    margin-left: 8px; 
}

.time-btn {
    background-color: #00876F;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 0.9em;
    cursor: pointer;
    width: 10rem!important;
    transition: 0.3s;
    padding: 7px 15px;
  }

  .time-btn:hover {
    background-color: #006f59;
}

@media (min-width:1044px) and (max-width:1198px){
    .time-btn{
        width: 9rem!important;
        text-align: center!important;
    }
}
@media (min-width:992px) and (max-width:1044px){
    .time-btn{
        width: 7.5rem!important;
    }
}
@media (min-width:767px) and (max-width:992px){
    .time-btn{
        width: 8rem!important;
    }
}
@media (min-width:586px) and (max-width:698px){
    .time-btn{
        width: 10rem!important;
    }
}
@media (min-width:320px) and (max-width:586px){
    .time-btn{
        width: 20vw!important;
    }
}
.slot-card {
    border-right: 1px solid rgb(208, 205, 205);
}
.col-md-3:nth-child(4n) .slot-card {
    border-right: none !important;
}

.date {
    color: #333;
    font-size: 14px;
}

.see-more {
    color: #007b5e;
    cursor: pointer;
    font-size: 14px;
}
.no-data {
    color: #666;
    font-size: 12px;
    margin-top: 5px;
}

@media (max-width:439px){
    .main{
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .profile-container{
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
}

@media (max-width:576px) {
 
    .carousel-control-prev {
   
        position: absolute;
        top: 40%;
        left: 30px;
   
    }
 
    .carousel-control-next{
        position: absolute;
        top: 40%;
        right: 30px;
    }

    .profile-container{
        padding: 0px 10px!important ;
    }
}