<div class="main px-5">
 
    <div class="profile-container mx-auto bg-white rounded-3 p-5 mt-3 mb-3">
        <div class="d-flex justify-content-end">
            <i class="fa fa-arrow-circle-left cursor mt-3 mt-md-0"
                            (click)="goBack()"
                            style="color: #00876ee4; font-size: 32px; cursor: pointer;"></i>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-center text-center text-md-start">
            <div class="pt-3">
                <img *ngIf="profileData?.profilePicturePath" class="rounded-circle flex-shrink-0"
                    [src]="profileData.profilePicturePath" style="width: 130px; height: 130px;">
       
                <img *ngIf="!profileData?.profilePicturePath" class="rounded-circle flex-shrink-0"
                    alt="Doctor Profile Male" src="../../../../assets/svg/DoctorAvatar/MaleAvatar.png"
                    style="width: 130px; height: 130px;">
            </div>
       
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between w-100 px-3">
                <div class="mt-3 text-center text-md-start">
                    <h3 *ngIf="profileData?.accountType == 'IndependentProvider'" class="text-success mb-0 mt-0" style="font-size: 1.5625rem; font-weight: 800;">
                                {{profileData?.firstName}} {{profileData?.lastName}}, <br>
                                {{profileData?.qualificationName}}
                    </h3>
 
                    <h3 *ngIf="profileData?.accountType == 'PrivatePractices' || profileData?.accountType == 'Facility'" class="text-success mb-0 mt-0" style="font-size: 1.5625rem; font-weight: 800;">
                                  {{profileData?.legalPracticeName}}, <br>
                                  {{profileData?.qualificationName}}
                   </h3>
                </div>
            </div>
        </div>
   
           <h1 class="text-center" style="font-size: 35px; color: #00876ee4;">Availability</h1>
           <hr>
           
               
                <div >
                 
                    <div class="row text-center mt-2">
                        <mat-form-field appearance="outline" style="margin-left: 10px; width: 180px;">
                            <mat-label>Select Date</mat-label>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)" (click)="nextSlots()">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
 
                          <div class="col-12">
                              <div id="slotCarousel" class="carousel slide position-relative">
                                <div class="carousel-inner">
                                    <div class="carousel-item" *ngFor="let availabilityGroup of chunkedAvailabilities; let i = index"
                                        [class.active]="i === 0">
                                        <div class="row  gx-2 gy-3 py-3" style="background: #f8f9fa; border-radius: 20px;" >  <!-- Reduced spacing -->
                                            <div class="col-md-3 col-6 "
                                                *ngFor="let availability of availabilityGroup">
                                                <div class="text-center  slot-card">
                                                    <div class="date fw-bold">{{ availability.date | date:'EEE, MMM d' }}</div>
                                                <div *ngIf="availability.limitedSlots && availability.limitedSlots.length > 0; else noData">
                                                    <div *ngFor="let slot of availability.limitedSlots">
                                                        <button class="time-btn mt-2" (click)="redirectToBookAppointment(slot.slotId, availability.date, slot.startTime, slot.bookAppointmentId, slot.meetingType)">
                                                            {{ formatTime(slot.startTime) }}
                                                        </button>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="hasSlots(availabilityGroup)" class="text-center mt-3">
                                            <div (click)="toggleShowMore()" class="see-more">
                                                {{ showMore ? 'See less times' : 'See more times' }}
                                                <i [class]="showMore ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
                                            </div>
                                        </div>
                                        <ng-template #noData>
                                            <div class="text-center no-data">No data available</div>
                                        </ng-template>
                                    </div>
                                </div>
                                <button class="carousel-control-prev " type="button" data-bs-target="#slotCarousel" data-bs-slide="prev"
                                   (click)="previousSlots()">
                                    <span class="carousel-control-prev-icon"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#slotCarousel" data-bs-slide="next"
                                   >
                                    <span class="carousel-control-next-icon"></span>
                                </button>
                            </div>
                        </div>
                         
                       
                    </div>
                   
                    <div class="overall-rating mt-5 d-flex">
                        <h4 style="font-weight: 500;">
                            Overall Rating : &nbsp;
     
                            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                                <ng-container [ngSwitch]="getStarType(star, averageRating)">
                                  <mat-icon *ngSwitchCase="'full'" class="text-warning">star</mat-icon>
                                  <mat-icon *ngSwitchCase="'half'" class="text-warning">star_half</mat-icon>
                                  <mat-icon *ngSwitchCase="'empty'" class="text-secondary">star</mat-icon>
                                </ng-container>
                              </ng-container>
                            <span class="text-muted">&nbsp; {{averageRating}} ({{reviewCount}} review)</span>
                        </h4>
                    </div>
 
                    <div class="row d-flex align-items-center border-bottom py-3" *ngFor="let item of ratingListData">
                        <div class="col-12 col-md-2 text-center mb-3 mb-md-0">
                            <img *ngIf="item.filePath; else defaultIcon" style="  border: 1px solid #00876f; "
                                class="rounded-circle" [src]="item.filePath" alt="User Image" width="80" height="80" />
                            <ng-template #defaultIcon>
                               
                                <img src="../../../../assets/svg/staff-profile/images.png" width="80" height="80"
                                    alt="Reviewer Image" class="rounded-circle">
                            </ng-template>
                        </div>
                        <div
                            class="col-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-start mb-2 mb-md-0">
                            <p mailto:class="mb-0">{{item.email}} <br>
                                <span class="" style=" color: #FFD700;">
                                    <i class="fas fa-star" *ngFor="let star of [].constructor(item.rating)"></i>
                                </span><br>
                                <span class="mb-0">{{item.review}}</span>
                            </p>
 
                        </div>
 
                        <div class="col-12 col-md-3 text-center text-md-center ">
                            <p class="mb-0">{{ getFormattedDate(item.date)|date:'MM-dd-yyyy' }}</p>
 
                        </div>
                    </div>
                </div>
   
    </div>
</div>
 