<div>
  <div class="modal-header">
    <h1 style="color: white; font-weight: 500; margin: 0%;">Set Permissions</h1>
    <button class="close-btn fs-3" (click)="modalClose()">&times;</button>
  </div>
  <div class="modal-body">
    <p>Check Sidebar Permissions</p>
    <div class="permissions-grid">
      <label *ngFor="let item of sidebarItems">
      
        <input type="checkbox" [checked]="item.isActive == true" (change)="onCheckboxChange($event, item.id)"/> 
        {{ item.name }}
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="cancel-btn" (click)="modalClose()">Cancel</button>
     <button type="button" class="save-btn" (click)="postRolePermission()"
                    ><span class="spinner-border text-light small-spinner"
                        role="status" *ngIf="loading">
                        <span class="visually-hidden">Loading...</span>
                    </span>Save Changes
                </button>
    <!-- <button class="save-btn" (click)="postRolePermission()">Save Changes</button> -->
  </div>
</div>
