<!-- forgot-password.component.html -->
<div class="forgot-password-container border border-info"
    style=" background: linear-gradient(135deg, #83c0b1, #96c0a8, #cbbe91, #e6bf84);">
    <div class="row w-100 ">

        <div class="col-6 d-flex justify-content-center p-5">
            <div class="card p-5">
                <div class="pt-3"> <a href="/home-page">
                        <img src="../../../../assets/svg/homepage/Chalice_Health_Logo.png" width="200px"
                            alt="Chalice Health Logo">
                    </a></div>
                <div class="card-body d-flex justify-content-center">
                    <i class="fas fa-exclamation-circle fa-3x pt-3"></i>
                    <h2 class="pb-4">Forgot Password</h2>
                    <p class="pb-2">
                        Enter your email, and we'll send you a link to reset your password.
                    </p>
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetLink()">
                        <div class="input-container">
                            <i class="fas fa-envelope"></i>
                            <input class="py-2" type="email" formControlName="email" placeholder="Enter your Email">
                        </div>
                        <div *ngIf="isEmailInvalid()" class="error-message">
                            Valid email required
                        </div>
                        <button type="button" class="btn btn-primary signup-button"
                            [disabled]="forgotPasswordForm.invalid" (click)="submit()">
                            <i class="fas" [ngClass]="{ 'fa-spinner fa-spin': loading }"></i>
                            <span *ngIf="!loading" class="space">Submit</span>
                            <span *ngIf="loading" class="space">Loading...</span>
                        </button>
                    </form>
                    <div class="back-to-login mt-5">
                        <a (click)=" navigateToLogin()">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center ">
            <img src="../../../../assets/svg/homepage/g1.png" width="680px" alt="" srcset="">
        </div>
    </div>
</div>