<section class="main-banner">
  <div class="wrapper d-flex">
    <div class="content-wrapper">
      <div class="signup-card ">

        <h3 class="section-title">Prescriptions/Medications</h3>

        <div class="signup-form">
          <mat-tab-group (selectedTabChange)="onTabChange($event)">
            <mat-tab value="Prescription">
              <ng-template mat-tab-label>
                <span style="color: #00876F!important;">Prescription</span>
              </ng-template>
              <div class="mat-tab-content px-1" style="overflow: hidden!important;">
                <div class=" mt-4 mb-2" style="width:100%; display:flex; justify-content:right; ">
                  <input type="text" style="width: 30%;" [(ngModel)]="searchTerm" placeholder="Search By Drug Name"
                    (input)="getPrescriptionByUserId()" class="form-control" />
                </div>

                <div class="row">
                  <div class="table-responsive">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                        
                          <th style=" min-width: 150px;" scope="col" (click)="sortData('medicationName')">Drug Name
                            <i
                              [ngClass]="{'fa': true, 'fa-sort': sortColumn !== 'medicationName', 'fa-sort-up': sortColumn === 'medicationName' && sortOrder === 'asc', 'fa-sort-down': sortColumn === 'medicationName' && sortOrder === 'desc'}"></i>
                          </th>
                          <th style=" min-width: 150px;" scope="col" (click)="sortData('createdDate')">Date
                            <i
                              [ngClass]="{'fa': true, 'fa-sort': sortColumn !== 'createdDate', 'fa-sort-up': sortColumn === 'createdDate' && sortOrder === 'asc', 'fa-sort-down': sortColumn === 'createdDate' && sortOrder === 'desc'}"></i>
                          </th>
                          <th scope="col">Frequency</th>
                          <th scope="col">Duration</th>
                          <th style=" min-width: 120px;" scope="col">Dose Form</th>
                          <th style=" min-width: 150px;" scope="col" (click)="sortData('providerName')">Provider Name
                            <i
                              [ngClass]="{'fa': true, 'fa-sort': sortColumn !== 'providerName', 'fa-sort-up': sortColumn === 'providerName' && sortOrder === 'asc', 'fa-sort-down': sortColumn === 'providerName' && sortOrder === 'desc'}"></i>
                          </th>
                          <!-- <th scope="col">Provider Name</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of prescription; let i = index">
                          <!-- <td style="max-width: 40%;">                           
                              {{item.medicationName}}                            
                          </td> -->
                          <td style="max-width: 30%;">
                            <span *ngIf="!item.showFullMedicationName">
                              {{ item?.medicationName | slice: 0:50 }}<span
                                *ngIf="item?.medicationName.length > 50">...</span>
                            </span>
                            <span *ngIf="item.showFullMedicationName">{{ item.medicationName }}</span>
                            <a *ngIf="item.medicationName.length > 50" href="#"
                              (click)="toggleShowMore(item, 'MedicationName', $event)">
                              {{ item.showFullMedicationName ? 'See less' : 'Show more' }}
                            </a>
                          </td>

                          <td>{{ item.createdDate | date: 'MM-dd-yyyy' }}</td>
                          <td>{{ formatFrequencyType(item.frequency) }}</td>
                          <td>{{ item.durationInDays + ' days' }}</td>
                          <td>{{ item.doseForm }}</td>
                          <td style="color: #009cff!important; cursor: pointer;"
                            (click)="viewProviderProfile(item.providerId)">
                            <u>{{ item.providerName }}</u>
                          </td>
                        </tr>

                        <tr *ngIf="prescription.length === 0">
                          <td colspan="9" class="no-data-card">
                            <div class="no-data-card-container">
                              <div class="no-data-icon">
                                <i class="fas fa-exclamation-triangle"></i>
                              </div>
                              <div class="no-data-content">
                                <span class="no-data-title">No Prescriptions Found</span>
                                <p class="no-data-description">It looks like there are no appointments at the moment.
                                  Please check back later!</p>
                              </div>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>

                  </div>
                  <div class="me-5 d-flex justify-content-end mt-4" *ngIf="roles.length > 0">
                    <app-pagination [paginator]="paginator" (onPageChange)="getPrescriptionByUserId()"></app-pagination>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Current Medication">
              <ng-template mat-tab-label>
                <span style="color: #00876F!important;">Current Medication</span>
              </ng-template>
              <div class="mat-tab-content px-1" style="overflow: hidden!important;">

                <div class="row justify-content-end align-items-center">
                  <!-- Search Input -->
                  <div class="col-12 col-md-4 mt-3 mb-2">
                    <input type="text" [(ngModel)]="searchTerm" placeholder="Search By Drug Name"
                      (input)="getCurrentMedicationByUserId()" class="form-control w-100" />
                  </div>

                  <!-- Add Medication Button -->
                  <div class="col-12 col-md-2 mb-2 text-md-end">
                    <button class="btn btn-primary w-100 w-md-auto add-medication-button"
                      (click)="openAddMedicationPopUp()">
                      Add Medication
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="table-responsive">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th style=" min-width: 150px;" scope="col" (click)="sortCurrentMedicationData('drugName')">
                            Drug Name
                            <i
                              [ngClass]="{'fa': true, 'fa-sort': sortColumn !== 'drugName', 'fa-sort-up': sortColumn === 'drugName' && sortOrder === 'asc', 'fa-sort-down': sortColumn === 'drugName' && sortOrder === 'desc'}"></i>
                          </th>
                          <!-- <th scope="col">Drug Name</th> -->
                          <th style=" min-width: 150px;" scope="col" (click)="sortCurrentMedicationData('startDate')">
                            Start Date
                            <i
                              [ngClass]="{'fa': true, 'fa-sort': sortColumn !== 'startDate', 'fa-sort-up': sortColumn === 'startDate' && sortOrder === 'asc', 'fa-sort-down': sortColumn === 'startDate' && sortOrder === 'desc'}"></i>
                          </th>
                          <!-- <th scope="col">Drug Name</th>
                          <th scope="col">Start Date</th> -->
                          <th scope="col">Strength</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Direction</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of currentPrescription; let i = index">
                          <!-- <td>{{ item.drugName }}</td> -->
                          <td style="max-width: 40%;">
                            <span *ngIf="!item.showFullDrugName">
                              {{ item.drugName | slice: 0:50 }}<span *ngIf="item.drugName.length > 50">...</span>
                            </span>
                            <span *ngIf="item.showFullDrugName">{{ item.drugName }}</span>
                            <a *ngIf="item.drugName.length > 50" href="#"
                              (click)="toggleShowMore(item, 'DrugName', $event)">
                              {{ item.showFullDrugName ? 'See less' : 'Show more' }}
                            </a>
                          </td>
                          <td>{{ item.startDate |date:'MM-dd-yyyy'}}</td>
                          <td>{{ item.strength }}</td>
                          <td>{{ item.durationInDays + 'days' }}</td>
                          <td>{{ item.direction }}</td>
                        </tr>
                        <tr *ngIf="currentPrescription.length === 0">
                          <td colspan="9" class="no-data-card">
                            <div class="no-data-card-container">
                              <div class="no-data-icon">
                                <i class="fas fa-exclamation-triangle"></i>
                              </div>
                              <div class="no-data-content">
                                <span class="no-data-title">No current medications Found</span>
                                <p class="no-data-description">
                                  It looks like there are no current medications at the moment. Please check back later!
                                </p>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                  <div class="me-5 d-flex justify-content-end mt-4" *ngIf="roles.length > 0 && !loading">
                    <app-pagination [paginator]="paginator"
                      (onPageChange)="getCurrentMedicationByUserId()"></app-pagination>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Past Medication">
              <ng-template mat-tab-label>
                <span style="color: #00876F!important;">Past Medication</span>
              </ng-template>
              <div class="mat-tab-content px-1" style="overflow: hidden!important;">
                <div class=" mt-4 mb-2" style="width:100%; display:flex; justify-content:right; ">
                  <input type="text" style="width: 30%;" [(ngModel)]="searchTerm" placeholder="Search By Drug Name"
                    (input)="getPastMedicationByUserId()" class="form-control" />
                </div>
                <div class="row">
                  <div class="table-responsive">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th style=" min-width: 150px;" scope="col" (click)="sortPastMedicationData('drugName')">Drug
                            Name
                            <i
                              [ngClass]="{'fa': true, 'fa-sort': sortColumn !== 'drugName', 'fa-sort-up': sortColumn === 'drugName' && sortOrder === 'asc', 'fa-sort-down': sortColumn === 'drugName' && sortOrder === 'desc'}"></i>
                          </th>
                          <!-- <th scope="col">Drug Name</th> -->
                          <th style=" min-width: 150px;" scope="col" (click)="sortPastMedicationData('startDate')">Start
                            Date
                            <i
                              [ngClass]="{'fa': true, 'fa-sort': sortColumn !== 'startDate', 'fa-sort-up': sortColumn === 'startDate' && sortOrder === 'asc', 'fa-sort-down': sortColumn === 'startDate' && sortOrder === 'desc'}"></i>
                          </th>
                          <!-- <th scope="col">Drug Name</th>
                          <th scope="col">Start Date</th> -->
                          <th scope="col">Strength</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Direction</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of pastPrescription; let i = index">
                          <td>{{ item.drugName }}</td>
                          <td>{{ item.startDate|date:'MM-dd-yyyy' }}</td>
                          <td>{{ item.strength }}</td>
                          <td>{{ item.durationInDays + ' days' }}</td>
                          <td>{{ item.direction }}</td>
                        </tr>
                        <tr *ngIf="pastPrescription.length === 0">
                          <td colspan="9" class="no-data-card">
                            <div class="no-data-card-container">
                              <div class="no-data-icon">
                                <i class="fas fa-exclamation-triangle"></i>
                              </div>
                              <div class="no-data-content">
                                <span class="no-data-title">No Past medications Found</span>
                                <p class="no-data-description">
                                  It looks like there are no past medications at the moment. Please check back later!
                                </p>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                  <div class="me-5 d-flex justify-content-end mt-4" *ngIf="roles.length > 0 && !loading">
                    <app-pagination [paginator]="paginator"
                      (onPageChange)="getPastMedicationByUserId()"></app-pagination>
                  </div>
                </div>
              </div>
            </mat-tab>

          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>