<div class="maincont">
  <div class="subcont">
    <div class="cont px-3 py-4">
      <div class="header">
        <h1><u>Cancellation-Policy</u></h1>
        <div class="close-btn" (click)="modalClose()">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <div class="mt-4 fees">
        <p>
          Chalice Health’s cancellation policy aims to simplify the process of booking, canceling,
          and rescheduling appointments. We offer full refunds for canceled visits within the
          following timeframes:
        </p>
        <ul>
          <li><b>Virtual visits:</b> You may cancel up to 3 hours before the scheduled visit.</li>
          <li><b>In-person visits:</b> You may cancel up to 24 hours before the scheduled visit.</li>
          <li>
            <b>All other visits (including labs, imaging, and visits without a specific day or time at
            purchase):</b> You may cancel up to 10 days after the purchase date, once Chalice Health
            confirms with the provider that the visit did not occur.
          </li>
        </ul>
        <p><strong>Please note that refunds are not available for the following:</strong></p>
        <ul>
          <li>No-shows or missed appointments.</li>
          <li>
            Refund requests due to failure to receive a prescription or disagreement with the
            clinical outcome of the visit.
          </li>
          <li>Surgical procedures with specific scheduling requirements.</li>
          <li>Any request made 10 days after the original purchase date.</li>
        </ul>
        <p>
          If you accidentally book a same-day appointment and need to cancel, Chalice Health will
          issue a refund if you request cancellation within one hour of completing the purchase.
        </p>
      </div>
    </div>
  </div>
</div>
