<div class="container p-4 review-container">
  <div class="row  d-flex">
    <div class="col-11">
      <h2 class="text-center  fs-5 ">Write a Review for {{reviewObj.providerName}}</h2>
    </div>
    <div class="col-1">
      <i class="fa-solid fa-xmark fs-5 text-end cancel-icon cursor" (click)="modalClose()"></i>
    </div>

  </div>



  <form [formGroup]="reviewForm">
   

    <!-- Rating Section -->
    <div class="form-group mb-3">
      <label class="form-label">Rating <span class="text-danger">*</span></label>
      <div class="star-rating">
        <span *ngFor="let star of [1, 2, 3, 4, 5]" (click)="setRating(star)"
          [ngClass]="{ 'selected': star <= selectedRating }">
          ★
        </span>
      </div>
      <div *ngIf="reviewForm.get('rating')?.invalid && reviewForm.get('rating')?.touched" class="text-danger">
        Please provide a rating.
      </div>
    </div>

    <!-- Review Textarea -->
    <div class="form-group mb-1">
      <label for="review" class="form-label">Review <span class="text-danger">*</span></label>
      <textarea id="review" class="form-control" formControlName="review" maxlength="500" (input)="updateCharCount()"
        rows="3" placeholder="Write your review here..."></textarea>
      <small class="text-muted d-block text-end">{{ charCount }} / 500</small>
      <div *ngIf="reviewForm.get('review')?.invalid && reviewForm.get('review')?.touched" class="text-danger">
        Review is required and must be less than 500 characters.
      </div>
    </div>

 

    <!-- Buttons -->
    <div class="text-end mt-4">
      <button type="submit" class="btn btn-submit" (click)="submitReview()">
        Submit
      </button>
      <button type="button" class="btn btn-cancel" (click)="modalClose()">Cancel</button>
    </div>
  </form>
</div>