<div class="container my-2 pb-3">
    <div class="header">
        <h3 class="mt-2 text-center"><u> Message Complaint Detail</u></h3>
        <div class="close-btn" (click)="modalClose()"><i class="fa-solid fa-xmark"></i></div>
    </div>
    <p>Choose a reason for your report, and our dedicated team will review it carefully and take the necessary action. Your report will remain confidential, and we appreciate your effort in keeping this platform safe and reliable.</p>


    <div class="row">

        <div class="report-options">
            <label *ngFor="let option of reportOptions">
              <input type="radio" name="reportReason" [(ngModel)]="reportReason" [value]="option.id" />
              {{ option.name }}
            </label>
          </div>
    
    <form [formGroup]="complaintForm">
        <div class="row mt-3">
            <textarea id="reason"   class="form-control form-control-sm mt-1" formControlName="reason"
                [value]="complaintForm.get('reason')?.value"
                [ngClass]="{'is-invalid': complaintForm.get('reason')?.invalid && complaintForm.get('reason')?.touched}"
                placeholder="Enter the reason for complaint"></textarea>
            <div class="invalid-feedback"
                *ngIf="complaintForm.get('reason')?.touched && complaintForm.get('reason')?.hasError('required')">
                Reason is required.
            </div>
            <div class="invalid-feedback"
           *ngIf="complaintForm.get('reason')?.touched && complaintForm.get('reason')?.hasError('pattern')">
           Reason for complaint cannot be empty or only spaces.
          </div>

        </div>

        <div class="row  px-0 ">
            <div class="col-sm-5"></div>
            <div class="mt-3 col-sm-7 px-0">
                <button type="button" class="btn  custom-padding cancelButton"  (click)="modalClose()">Cancel</button>

                    <button type="button" class="btn me-2  custom-padding " (click)="confirmComplaintMessage()"><span
                        class="spinner-border text-light small-spinner" role="status" *ngIf="loading">
                        <span class="visually-hidden">Loading...</span>
                    </span>Save
                </button>
               
            </div>
        </div>

    
        
    </form>
 

        </div>
        