<section class="main-banner">
  <div class="wrapper d-flex">
    <div class="content-wrapper">
      <div class="row somemain">
        <div class="bg-white rounded plan generate-content-table mt-2">
          <div class="fixed-header">
            <!-- <h1 class="text-dark mb-0 heading fw-medium">Calendar</h1> -->
            <div class="d-flex generate justify-content-between">
              <div class="dropdown custom-dropdown">
              </div>
              <div class="col-sm-4">
              </div>
              <form class="rows">
                <div>
                  <div class="input-group date" id="datepicker">
                  </div>
                </div>
              </form>
            </div>
            <div class="filters d-flex justify-content-between mt-2 align-items-center">
              <div class="d-flex align-items-center ">
                <nav aria-label="Page navigation example" *ngIf="!showWeek" class="head">
                  <ul class="pagination mb-0">
                    <li class="page-item"><a class="page-link cursor" (click)="showCurrentMonth()">Today</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link cursor" aria-label="Previous" (click)="showPreviousMonth()">
                        <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span></a>
                    </li>
                    <li class="page-item cursor"> <a class="page-link" aria-label="Next" (click)="showNextMonths()">
                        <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                      </a></li>
                  </ul>
                </nav>
                <nav aria-label="Page navigation example" *ngIf="showWeek">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link cursor" (click)="showCurrentWeek()">Today</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link cursor" aria-label="Previous" (click)="showPreviousWeek()">
                        <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span></a>
                    </li>
                    <li class="page-item cursor"> <a class="page-link" aria-label="Next" (click)="showNextWeek()">
                        <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                      </a></li>
                  </ul>
                </nav>
                <div class="year ms-2">
                  <h4 class="m-0" *ngIf="!showWeek"><b>{{visibleMonths[0]}} {{selectedYear}}</b> </h4>
                  <h4 class="m-0" *ngIf="showWeek"><b>{{weekMonth}}</b> </h4>
                </div>

              </div>
              <div class="d-flex align-items-center" *ngIf="userInfo.accountType != 'IndependentProvider'">
                <h4 class="me-1 mt-4" style="width: 14rem;">Select Provider </h4>
                <select id="frequency" class="form-select form-select-sm cursor mt-1" (change)="onProviderSelect($event)">
                  <option>Select Provider</option>
                  <option *ngFor="let item of facilityProviderList" [value]="item.userId" >
                    {{item.providerName}}</option>
                </select>
              </div>

              <div class="d-flex flex-wrap gap-2 align-items-start">
                <div class="d-grid gap-2 d-md-flex">
                  <button class="btn btn-outline-dark filter-btn" (click)="showWeekData()" type="button">Week</button>
                  <button class="btn btn-outline-primary filter-btn" (click)="showMonthData()" type="button">Month</button>
                </div>
              
                <div class="filter" *ngIf="showWeek">
                  <div class="btn btn-outline-light text-dark filter-btn" (click)="showDatePicker(datePicker)">
                    <i class="bi bi-filter"></i> Filter
                  </div>
                  <input type="month" #datePicker (change)="onDateChanged($event)" style="display:none;">
                </div>
              </div>
 

              
            </div>
          </div>
          <div class="plan-worksheet mt-3" *ngIf="!showWeek">
            <div class="table-responsive" style="z-index: -1;">
              <table class="table table-bordered align-middle">
                <thead class="text-center">
                  <tr>
                    <th></th>
                  <ng-container *ngFor="let month of visibleMonths">

                      <!-- <th scope="col" class="text-light-custom" [attr.colspan]="week.daysInWeek"
                        style="border: 1px solid #dee2e6; color: #ACB4C9; font-size: 11px; font-weight: 400;padding: 4px 0;">
                        Week {{ week.weekNumber }}
                      </th> -->
                    </ng-container>
                  </tr>
                  <tr >
                    <th scope="col" style="background-color: white;">
                      <label for="flexCheckDefault">
                        Time
                      </label>
                    </th>
                   <ng-container *ngFor="let month of visibleMonths table-responsive">
                      <ng-container *ngFor="let day of getDaysInMonth(month, selectedYear)">
                        <th scope="col" class="text-light-custom day-wrap" [ngStyle]="{
                                        'border': '1px solid #dee2e6',
                                        'background-color': (formatDate(day.date) === currentDate) ? '#e2f0fe' : 'white'
                                      }">
                          <span class="month day-wrap" style="font-size:12px; font-weight: 500;">
                            {{ day.day }}<br>
                            {{ day.date | date:'d' }}
                          </span>
                        </th>
                      </ng-container>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let plan of monthlyData">
                    <tr style="height: 8vh !important;border-bottom: none !important;">
                      <td class=" employee-text" scope="col">
                        {{plan.range}}
                      </td>

                      <ng-container *ngFor="let month of visibleMonths table-responsive">
                        <ng-container *ngFor="let day of getDaysInMonth(month, selectedYear)">
                          <td scope="col" class="text-light-custom"
                            [ngStyle]="{'border': '1px solid #dee2e6', 'background-color': 'white'}">

                            <ng-container *ngFor="let slotRange of plan.slots">
                              <ng-container *ngFor="let item of slotRange.slots">
                                <ng-container *ngIf="slotRange.date === (day.date | date: 'yyyy-MM-dd')">
                                  <span class="day-wrap dropdown" style="font-size: 11px !important"
                                    (click)="item.status !== 'Booked' ? openDialog(item, slotRange.date, slotRange.frequency, slotRange.weekDay) : openBookedDetails(item.startTime,slotRange.date)">
                                    <span class="weekday dropbtn" style="height: 4vh !important;" [ngStyle]="{
                                'background': item.status === 'Booked' ? '#f4fde6' : 'linear-gradient(to bottom right, #f0f0f0, #e0e0e0)'
                                 }">
                                      {{ item.status === 'Booked' ? 'Booked ' : (item.startTime ?
                                      (item.startTime.split(':')[0] % 12 || 12) + ':' + item.startTime.split(':')[1] :
                                      '--') }}
                                    </span>
                                  </span>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </td>
                        </ng-container>
                      </ng-container>
                    </tr>
                  </ng-container>
                  <tr *ngIf="initialLoading">
                    <td colspan="31" class="text-center">
                      <app-loader [loadingText]="'Loading...'" [spinnerWidth]="'2rem !important'"
                        [spinnerHeight]="'2rem !important'" [spinnerColor]="'#1e8af9 !important'" class="heading"
                        [additionalClasses]="'mt-5'"></app-loader>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div class="plan-worksheet mt-4" *ngIf="showWeek">
            <div class="table-responsive">
              <table class="table table-bordered align-middle ">
                <thead class="text-center">
                  <ng-container>
                    <tr>
                      <th scope="col" class="bg-white">
                        <div class="form-check " style="text-align: center;">
                          <label class="form-check-label " for="flexCheckDefault">
                            Time
                          </label>
                        </div>
                      </th>
                      <ng-container *ngFor="let month of visibleMonths">
                        <ng-container *ngFor="let day of getWeekDays(customDate)">
                          <th class="day-wrap text-light-custom" [ngStyle]="{
                                          'border': '1px solid #dee2e6',
                                          'background-color': (formatDate(day.date) === currentDate) ? '#e2f0fe' : 'white'
                                        }">
                            <span [ngStyle]="{
                                              'color': (formatDate(day.date) === currentDate) ? '#1e8af9' : 'black'
                                            }" style="font-size:13px; font-weight: 500;" class="weekday day-wrap">
                              {{ day.day.substring(0, 3).toUpperCase() }}<br>
                              {{ day.date | date: 'd MMM'}}
                            </span>
                          </th>
                        </ng-container>
                        <!-- </th> -->
                      </ng-container>
                    </tr>
                  </ng-container>
                </thead>
                <tbody>
                  <ng-container *ngFor="let plan of planData">
                    <tr style="height: 9vh !important;border-bottom: none !important;">
                      <td class="cursor employee-text" scope="col">
                        {{plan.range}}
                      </td>
                      <ng-container *ngFor="let day of getWeekDays(customDate)">
                        <td scope="col" class="text-light-custom cursor"
                          (click)="createAvailability(day.date,day.day,plan.range)"
                          [ngStyle]="{'border': '1px solid #dee2e6', 'background-color': 'white'}">
                          <ng-container *ngFor="let slotRange of plan.slots">
                            <!-- <ng-container *ngIf="slotRange.date >= currentDate"> -->
                            <ng-container *ngFor="let item of slotRange.slots">
                              <ng-container *ngIf="slotRange.date === (day.date | date: 'yyyy-MM-dd')">
                                <span class="day-wrap dropdown" style="font-size: 11px !important;"
                                  (click)="item.status !== 'Booked' ? openDialog(item, slotRange.date, slotRange.frequency, slotRange.weekDay) : openBookedDetails(item.startTime,slotRange.date)">
                                  <span class="weekday dropbtn" [ngStyle]="{
                                  'background': item.status === 'Booked' ? '#f4fde6' : 'linear-gradient(to bottom right, #f0f0f0, #e0e0e0)'
                                   }">
                                    {{ item.status === 'Booked' ? 'Booked ' : (item.startTime ?
                                    (item.startTime.split(':')[0] % 12 || 12) + ':' +
                                    item.startTime.split(':')[1] + ' ' + (item.startTime.split(':')[0] >= 12 ? 'PM' :
                                    'AM') : '--') }}
                                  </span>

                                </span>
                                <div *ngIf="isTooltipVisible" class="custom-tooltip" [ngStyle]="tooltipStyles">
                                  <!-- Add the details here -->
                                  <p>Date: </p>
                                  <p>Frequency: </p>
                                  <p>Weekday: </p>
                                  <!-- Add other details you want to show -->
                                </div>
                              </ng-container>
                            </ng-container>
                            <!-- </ng-container> -->
                          </ng-container>
                        </td>
                      </ng-container>
                    </tr>
                  </ng-container>

                  <!-- <tr>
                      <td class="text-center">
                        <app-loader  [loadingText]="'Loading...'"
                          [spinnerWidth]="'5rem !important'" [spinnerHeight]="'5rem !important'"
                          [spinnerColor]="'red !important'" [additionalClasses]="'mt-5'"></app-loader>
                      </td>
                    </tr> -->
                  <tr *ngIf="initialLoading">
                    <td colspan="7">
                      <app-loader [loadingText]="'Loading...'" [spinnerWidth]="'2rem !important'"
                        [spinnerHeight]="'2rem !important'" [spinnerColor]="'#1e8af9 !important'" class="heading"
                        [additionalClasses]="'mt-5'"></app-loader>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>








