<section class="main-banner">
    <div class="wrapper d-flex">
        <div class="content-wrapper">
            <div class="document-card ">

                <!-- <span class="close-icon" (click)="cancel()">&times;</span> -->
                <h1><b>Documents</b></h1>
                <form [formGroup]="documentForm" class="mt-2">
                    <div class="row p-2">
                        <div class="col-sm-4">
                            <label class="mt-1" for="patientCategory">Category<span class="red">*</span></label>
                            <select class="form-select form-select-sm cursor mt-2" formControlName="patientCategory"
                                [ngClass]="{'is-invalid': documentForm.get('patientCategory')?.invalid &&  documentForm.get('patientCategory')?.touched}">
                                <option value="" disabled selected>Select</option>
                                <option *ngFor="let item of obj" [value]="item.id">{{item.value}}</option>
                            </select>
                            <div class="invalid-feedback"
                                *ngIf="documentForm.get('patientCategory')?.touched && documentForm.get('patientCategory')?.hasError('required')">
                                Category is required.
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="mt-2" for="title">Title<span class="red">*</span></label>
                            <input type="text" id="title" class="form-control form-control-sm mt-1"
                                formControlName="title"
                                [ngClass]="{'is-invalid':documentForm.get('title')?.invalid && documentForm.get('title')?.touched}"
                                [value]="documentForm.get('title')?.value | capitalizeFirstLetter">
                            <div class="invalid-feedback"
                                *ngIf="documentForm.get('title')?.touched && documentForm.get('title')?.hasError('required')">
                                Title is required.
                            </div>
                            <div class="invalid-feedback"
                                *ngIf="documentForm.get('title')?.touched && documentForm.get('title')?.hasError('pattern')">
                                Title cannot be empty or only spaces.
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="mt-2" for="expiryDate">Expiry Date</label>
                            <input type="date" id="expiryDate" class="form-control form-control-sm mt-1"
                                formControlName="expiryDate"
                                [ngClass]="{'is-invalid':documentForm.get('expiryDate')?.invalid && documentForm.get('expiryDate')?.touched}">
                            <!-- <div class="invalid-feedback"
                                    *ngIf="documentForm.get('expiryDate')?.touched && documentForm.get('expiryDate')?.hasError('required')">
                                    Expiry Date is required.
                                </div> -->
                        </div>
                    </div>


                    <div class="row p-2">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fileName">Upload Document<span class="red">*</span></label>
                                <input type="file" id="fileName" class="form-control form-control-sm mt-1 small-input"
                                    formControlName="fileName"
                                    [ngClass]="{'is-invalid': documentForm.get('fileName')?.invalid && documentForm.get('fileName')?.touched}"
                                    (change)="onProfileSelected($event)">
                                <div class="invalid-feedback"
                                    *ngIf="documentForm.get('fileName')?.touched && documentForm.get('fileName')?.hasError('required')">
                                    File is required.
                                </div>
                                <div class="file" *ngIf="selectedFile != null">
                                    <span class="cursor"
                                        (click)="downloadFile(selectedFilePath)">{{selectedFile}}</span>
                                    <a><i class="mdi mdi-delete icon icon-lg cursor red" title="Delete"></i></a><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="form-group col-12">
                            <label for="notes">Notes</label>
                            <textarea id="notes" class="form-control form-control-sm mt-1" formControlName="notes"
                                [ngClass]="{'is-invalid': documentForm.get('notes')?.invalid && documentForm.get('notes')?.touched}"></textarea>
                            <div class="invalid-feedback"
                                *ngIf="documentForm.get('notes')?.touched && documentForm.get('notes')?.hasError('required')">
                                Notes is required.
                            </div>
                        </div>
                    </div>

                    <div class="row p-2 d-flex">
                        <div class="col-sm-12 d-flex justify-content-end pt-2">
                            <button type="button" class="btn custom-padding" style="background-color: #00876f;"
                                (click)="submitData()">Save
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Optional Table -->
                <div class="row align-items-center mt-1">
                    <!-- Buttons Section (Always on top in mobile, left on desktop) -->
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <div class="d-flex flex-wrap gap-2">
                            <h1 class="ms-2">Document List</h1>
                        </div>
                    </div>

                    <!-- Search Bar Section -->
                    <div class="col-12 col-md-3">
                        <input type="text" [(ngModel)]="searchTerm" placeholder="Search Document By Title"
                            (input)="getPatientDocumentsList()" class="form-control" />
                    </div>

                </div>
         

                <div class="table-responsive mt-3">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th style=" min-width: 150px;" scope="col" (click)="sortData('patientCategory')">
                                    Category
                                    <i
                                        [ngClass]="{'fa': true, 'fa-sort': sortColumn !== 'patientCategory', 'fa-sort-up': sortColumn === 'patientCategory' && sortOrder === 'asc', 'fa-sort-down': sortColumn === 'patientCategory' && sortOrder === 'desc'}"></i>
                                </th>
                                <th style=" min-width: 150px;" scope="col" (click)="sortData('title')">
                                    Title
                                    <i
                                        [ngClass]="{'fa': true, 'fa-sort': sortColumn !== 'title', 'fa-sort-up': sortColumn === 'title' && sortOrder === 'asc', 'fa-sort-down': sortColumn === 'title' && sortOrder === 'desc'}"></i>
                                </th>

                                <th scope="col">Document</th>
                                <th scope="col" style=" min-width: 150px;">Expiry Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of documentData; let i = index">
                                <td>{{ formatCategory(item.patientCategory) }}</td>
                                <td>{{ item.title}}</td>
                                <td (click)="downloadFile(item.filePath)" class="cursor" style="color: blue;">{{
                                    item.fileName }}</td>
                                <td>{{ item.expiryDate ? (item.expiryDate | date: 'MM-dd-yyyy') : '-----' }}</td>
                                <td style="border-bottom: none; vertical-align: middle;">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-share-from-square me-3 cursor" (click)="shareItem(item)"
                                            title="Share" style="color: #007BFF; font-size: medium;"></i>
                                        <i class="fa-solid fa-pen-to-square me-3 cursor" (click)="editDocument(i)"
                                            title="Edit" style="color:#00876f;font-size: medium;"></i>
                                        <i class="fa-solid fa-trash cursor" (click)="deleteDocument(item.id)"
                                            title="Delete" style="color:rgb(166, 7, 7); font-size: medium;"></i>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                         <tr style="width:100%!important; max-width: 100%!important;"
                                    *ngIf="documentData?.length === 0 && searchTerm">
                                    <td colspan="6">
                                        <div class="provider-card1"
                                            style="width:100%!important; max-width: 100%!important;">
                                            <div class="provider-header">
                                                <h2 class="text-center">Nothing Found</h2>
                                            </div>
                                            <br>
                                            <div class="text-center">
                                                <span>Sorry, but nothing matched your search terms. Please try again
                                                    with some different
                                                    keywords.</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                    </table>

                </div>
                <div class="mx-2 d-flex justify-content-end mt-4" *ngIf="roles.length > 0 && !loading">
                    <app-pagination [paginator]="paginator" (onPageChange)="getPatientDocumentsList()"></app-pagination>
                </div>


            </div>
        </div>
    </div>
</section>