<div class="sidebar d-flex flex-column vh-100 " style="display: flex; background-color:#84c0b0!important; z-index: 1000!important;">
  <nav class="navbar  navbar-light flex-grow-1 ps-2" style="overflow-y: auto; scrollbar-width: none;">
    <a href="/home-page" class="navbar-brand mx-4 mb-3">
      <!-- <h3 class="text-primary"> <img src="../../../assets/svg/Background/logo.png" class="w-100"></h3> -->
      <img src="../../../../assets/svg/homepage/Chalice_Health_Logo.png" alt="Logo" width="150px" height="60px">
    </a>

    <div class="navbar-nav w-100 px-3 mt-4 " *ngIf="userInfo.accountType == 'IndependentProvider'">
      <div class="nav-item dropdown">
        <a routerLink="/provider/dashboard" routerLinkActive="active" class="nav-link cursor" (click)="onSidebarItemClick()"
          [class.disabled]="userInfo.accountType !='IndependentProvider'">
          <i class="fa fa-tachometer-alt me-2"></i>Dashboard
        </a>
      </div>

      <div class="nav-item dropdown">
        <a routerLink="/provider/my-profile" routerLinkActive="active" class="nav-link cursor" (click)="onSidebarItemClick()"
          [class.disabled]="userInfo.accountType !='IndependentProvider'">
          <i class="fa fa-user me-2"></i>My Profile
        </a>
      </div>


      <!-- Clinic Management Dropdown -->
      <div class="nav-item dropdown">
        <a routerLink="/provider/appointment-list" routerLinkActive="active" class="nav-link cursor " [class.disabled]="credentialSteps !== 6"
          [attr.aria-disabled]="credentialSteps !== 6 ? 'true' : null"
          [style.pointerEvents]="credentialSteps !== 6 ? 'none' : 'auto'" (click)="onSidebarItemClick()">
          <i class="fas fa-clock me-2 "></i>Appointment</a>

      </div>

  

      <div class="nav-item dropdown">
        <a routerLink="/provider/patient-list" routerLinkActive="active" class="nav-link cursor " (click)="onSidebarItemClick()">
          <i class="fas fa-user-cog me-2"></i>Patient Management
        </a>
      </div>


      <div class="nav-item dropdown"
        *ngIf="userInfo.accountType === 'Facility' || userInfo.accountType === 'PrivatePractices'">
        <a routerLink="/provider/clinic-provider-list" routerLinkActive="active" class="nav-link cursor" (click)="onSidebarItemClick()">
          <i class="fas fa-user me-2"></i>Provider List
        </a>
      </div>
      


      <div class="nav-item dropdown">
        <a routerLink="/provider/document" routerLinkActive="active" class="nav-link cursor" [class.disabled]="credentialSteps !== 6"
          [attr.aria-disabled]="credentialSteps !== 6 ? 'true' : null"
          [style.pointerEvents]="credentialSteps !== 6 ? 'none' : 'auto'" (click)="onSidebarItemClick()">
          <i class="fas fa-file-alt me-2"></i>Document
        </a>
      </div>

      <div class="nav-item dropdown">
        <a routerLink="/provider/message-list" routerLinkActive="active" class="nav-link cursor"
          [ngClass]="{'active': openSubmenus.dashboard}" (click)="onSidebarItemClick()">
          <i class="fas fa-comments cursor me-2"></i>Messages
          <span *ngIf="newMessages > 0" class="badge badge-circle bg-danger ms-2">{{ newMessages }}</span>
        </a>
      </div>

      <div class="nav-item dropdown">
        <a routerLink="/provider/calendar" routerLinkActive="active" class="nav-link cursor " [class.disabled]="credentialSteps !== 6"
          [attr.aria-disabled]="credentialSteps !== 6 ? 'true' : null"
          [style.pointerEvents]="credentialSteps !== 6 ? 'none' : 'auto'" (click)="onSidebarItemClick()">
          <i class="fas fa-calendar-alt me-2"></i>Calendar
        </a>
      </div>
      
      <div class="nav-item dropdown">
        <a routerLink="/provider/notifications" routerLinkActive="active" class="nav-link cursor " (click)="onSidebarItemClick()">
          <i class="fas fa-bell me-2"></i>Notification <span *ngIf="noticationCount > 0"
            class="badge badge-circle bg-danger ms-2">{{ noticationCount }}</span>
        </a>
      </div>
      <!-- <div class="nav-item dropdown">
        <a routerLink="/provider/complaints" routerLinkActive="active" class="nav-link cursor">
          <i class="fas fa-exclamation-triangle me-2"></i>Complaints
        </a>
      </div> -->
      <div class="nav-item dropdown">
        <a routerLink="/provider/settings" routerLinkActive="active" class="nav-link cursor" (click)="onSidebarItemClick()">
          <i class="fas fa-cog me-2"></i>Settings
        </a>
      </div>
    </div>
    <div class="navbar-nav w-100 px-3 mt-4 " *ngIf="userInfo.accountType != 'IndependentProvider'">
      <div class="nav-item dropdown" *ngIf="Dashboard==true">
        <a routerLink="/provider/clinic-dashboard" routerLinkActive="active" class="nav-link cursor "
        (click)="onSidebarItemClick()">
          <i class="fa fa-tachometer-alt me-2"></i>Dashboard
        </a>
      </div>

      <div class="nav-item dropdown" *ngIf="ProfileSetup==true">
        <a routerLink="/provider/facility-profile-setup" routerLinkActive="active" class="nav-link cursor " [ngClass]="{'active': openSubmenus.dashboard}" (click)="onSidebarItemClick()">
          <i class="fas fa-hospital  me-2"></i>Profile
        </a>
      </div>

      <!-- Clinic Management Dropdown -->
      <div class="nav-item dropdown" *ngIf="Appointment==true">
        <a routerLink="/provider/appointment-list" routerLinkActive="active" class="nav-link cursor "  (click)="onSidebarItemClick()"   >
          <i class="fas fa-clock me-2 "></i>Appointment</a>

      </div>

  

      <div class="nav-item dropdown" *ngIf="PatientManagement==true">
        <a routerLink="/provider/patient-list" routerLinkActive="active" class="nav-link cursor " (click)="onSidebarItemClick()">
          <i class="fas fa-user-cog me-2"></i>Patient Management
        </a>
      </div>


      <div class="nav-item dropdown" *ngIf="ProviderList==true" >
        <a routerLink="/provider/clinic-provider-list" routerLinkActive="active" class="nav-link cursor" (click)="onSidebarItemClick()">
          <i class="fas fa-user me-2"></i>Provider List
        </a>
      </div>
      <div class="nav-item dropdown" *ngIf="UserManagement==true">
        <a routerLink="/provider/user-list" routerLinkActive="active" class="nav-link cursor" (click)="onSidebarItemClick()">
          <i class="fas fa-user-cog me-2"></i>User Management
        </a>
      </div>
      


      <div class="nav-item dropdown" *ngIf="RoleManagement==true">
        <a routerLink="/provider/role-permission" routerLinkActive="active" class="nav-link cursor" (click)="onSidebarItemClick()">
          <i class="fas fa-user-shield me-2"></i>Role Management
        </a>
      </div>
    

      <div class="nav-item dropdown" *ngIf="Messages==true">
        <a routerLink="/provider/facility-message-list" routerLinkActive="active" class="nav-link cursor" (click)="onSidebarItemClick()">
          <i class="fas fa-comments cursor me-2"></i>Messages
          <span *ngIf="newMessages > 0" class="badge badge-circle bg-danger ms-2">{{ newMessages }}</span>

        </a>
      </div>


      <div class="nav-item dropdown" *ngIf="Document==true">
        <a routerLink="/provider/document" routerLinkActive="active" class="nav-link cursor"
        (click)="onSidebarItemClick()">
          <i class="fas fa-file-alt me-2"></i>Document
        </a>
      </div>
      <div class="nav-item dropdown" *ngIf="Calendar==true">
        <a routerLink="/provider/calendar" routerLinkActive="active" class="nav-link cursor " 
        (click)="onSidebarItemClick()">
          <i class="fas fa-calendar-alt me-2"></i>Calendar
        </a>
      </div>
      <div class="nav-item dropdown" *ngIf="Notification==true">
        <a routerLink="/provider/notifications" routerLinkActive="active" class="nav-link cursor " (click)="onSidebarItemClick()">
          <i class="fas fa-bell me-2"></i>Notification <span *ngIf="noticationCount > 0"
            class="badge badge-circle bg-danger ms-2">{{ noticationCount }}</span>
        </a>
      </div>
      <!-- <div class="nav-item dropdown">
        <a routerLink="/provider/complaints" routerLinkActive="active" class="nav-link cursor">
          <i class="fas fa-exclamation-triangle me-2"></i>Complaints
        </a>
      </div> -->
      <div class="nav-item dropdown" *ngIf="Settings==true">
        <a routerLink="/provider/settings" routerLinkActive="active"  class="nav-link cursor" (click)="onSidebarItemClick()">
          <i class="fas fa-cog me-2"></i>Settings
        </a>
      </div>
    </div>
  </nav>

  <!-- Logout button positioned at the bottom -->
  <div class=" navbar-light mt-auto px-3 " style="background-color:#00876f;">
    <a (click)="logout()" class="nav-link text-black cursor py-4 "
      style="color: white!important; font-size: 21px!important;">
      <i class="fa fa-sign-out-alt" style="color: #FE8501;"></i>&nbsp; Logout
    </a>
  </div>
</div>



<div class="content">
 
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg navbar-light sticky-top px-2 py-2 d-flex align-items-center shadow-bottom"
    style="background-color:white;  z-index:1000;">
 
    <!-- ✅ Container Fluid with flex-nowrap to avoid breaking on small screens -->
    <div class="container-fluid d-flex flex-nowrap align-items-center justify-content-between" style="min-width: 0;">
 
      <!-- Sidebar Toggle -->
      <a class="sidebar-toggler flex-shrink-0 bg-light cursor me-2" (click)="onClickSidebarToggler()">
        <i class="fa fa-bars" style="color:#00876f;"></i>
      </a>
 
      <!-- <a href="/home-page" class="navbar-brand flex-shrink-1 text-truncate mb-0">
        <h1 class="pt-1 ps-2 minlogo mb-0" style="font-size: 21px; white-space: nowrap;">Chalice <span style="color: #fb8501;">Health</span></h1>
      </a>
 
      <h2 class="d-none d-lg-block pt-2 ps-3 mt-2 fw-bold flex-shrink-1"
        *ngIf="userInfo" style="font-size: 16px; font-family: 'Montserrat'; color: #fb8501; white-space: nowrap;">
        {{formatAccountType(userInfo.accountType)}}
      </h2> -->

        <!-- Logo and brand -->
        <div class="d-flex align-items-center">
          <div class="text-start me-2">
            <a href="/home-page">
              <h1 class="mb-0 minlogo" style="font-size: 23px;">
                <span class="me-1" style="color: #00876f;">Chalice</span> <span style="color: #fb8501;">Health</span>
              </h1>
            </a>
            <div class="d-block d-md-none text-orange fw-bold"
              style="font-size: 16px; font-family: 'Montserrat'; color: #fb8501;" *ngIf="userInfo">
           
              {{ formatAccountType(userInfo.accountType) }}
            </div>
          </div>
  
          <div class="d-none d-md-block text-orange ms-2 fw-bold"
            style="font-size: 16px; font-family: 'Montserrat'; color: #fb8501;" *ngIf="userInfo">
           
            {{ formatAccountType(userInfo.accountType) }}
          </div>
        </div>
 
      <!-- Navbar Toggle for Mobile -->
      <button class="navbar-toggler flex-shrink-0 ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
 
      <!-- Navbar Content -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto text-center">
          <!-- User Section -->
          <li class="nav-item">
            <a class="nav-link text-black">
              <i class="fa fa-user" style="color: #00876f; font-weight: 500;"></i>
              <span style="color: #00876f; font-weight: 500;">{{userInfo.firstName}} {{userInfo.lastName}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
 